<h3>其他常見問題</h3>

<h4>1.票券遺失怎麼辦 ?</h4>
<p>
  票券視同無記名有價證券，請您務必妥善保管，如有遺失、破毀、燒毀或無法辨識等情形，恕不重新補發。任意塗改、影印或套印、掃描複製票劵，均屬無效票。
</p>
<h4>2. 我買的票券可以開立發票嗎？</h4>
<p>
  因為票券本身已內含娛樂稅，故不會額外開立發票，需報帳者請使用票券之「購票證明聯」即可作為合法支出憑證。
</p>
<h4>3. 該如何得之相關演出因故延期或取消訊息 ?</h4>
<p>
  如因天災等不可抗拒或不可歸責之因素取消演出時，請隨時注意「寬宏售票KHAM Ticket
  」相關公告或來電07-7809900洽詢。
</p>
<h4>4. 如何訂閱/取消電子報 ?</h4>
<p>
  請加入/登入會員後，進入「修改會員資料」，在「訂閱電子報」圈選「訂閱是或否」，即完成手續。
</p>
<h4>5. 是否提供電話訂票 ?</h4>
<p>
  暫無提供電話訂票，敬請見諒!!請多利用網路、合作超商跟端點、傳真、現場票亭購票。
</p>
<h4>6. 點選座位後，卻無法進入付款頁面。</h4>
<p>
  建議可以更換其他瀏覽器或更換另一台電腦訂票, 或採傳真刷卡訂票或親臨超商購票。
</p>
<h4>7. 如遇票券毀損、滅失或遺失如何處理?</h4>
<p>
  如遇票券毀損、滅失或遺失，主辦單位將依「藝文表演票券定型化契約應記載及不得記載事項」第七項「票券毀損、滅失及遺失之入場機制：主辦單位應提供消費者票券毀損、滅失及遺失時之入場機制並詳加說明。」之規定辦理，詳情請洽寬宏售票客服。
</p>
<h4>
  8.請勿以任何形式非供自用而加價轉售票券（例如:代購費、交通津貼、補貼...等）
</h4>
<p>
  有抬高票價之事經查證屬實者，得不予退票，且得依社會秩序維護法第64條第2款逕向警方檢舉。
</p>
<h4>9.請不要購買來路不明的票劵</h4>
<p>
  尤其是在二手拍賣網站出售競標的票券來路不明，以混淆視聽方式高價加價銷售甚至真假難辨更造成票務糾紛層出不窮，為確保您的權益，請勿於拍賣網站或非正式授權售票之管道購票，如發生無法進場或損害己身權益情況，本售票系統恕不負責。
</p>
