@import "../../../../../theme.scss";
:host {
  display: block;
  padding: 2rem 0 3rem 0;
  &:not(:last-child) {
    border-bottom: 1px dashed $grey;
  }
}
h3 {
  margin: 1rem 0 0.5rem 0;
}
.flex {
  align-items: flex-start;
  flex-wrap: wrap;
}
p {
  margin-right: 2rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  white-space: nowrap;
  &:last-child {
    margin-right: 0;
  }
  span {
    display: block;
  }
  &.btns {
    white-space: pre;
    text-align: right;
  }
  button {
    color: #fff;
    background: $main;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 0;
    margin: 0.25rem;
    &.pay {
      font-size: 1.5rem;
      background: $red;
    }
  }
}

table {
  font-size: 0.9rem;
  margin-top: 1rem;
  width: 100%;
  th,
  td {
    padding: 0.5rem;
    min-height: 2rem;
  }
  th {
    background: $lightGrey;
  }
  td {
    text-align: center;
    border-bottom: 1px solid $lightGrey;
  }
  @media screen and (max-width: 640px) {
    display: flex;
    border: 1px solid $lightGrey;
    border-radius: 5px;
    tbody {
      flex: 1;
      display: flex;
      width: 100%;
    }
    tr:first-child,
    th {
      display: none;
    }
    tr,
    td {
      width: 100%;
      min-height: 2rem;
    }
    td {
      text-align: left;
      display: flex;
      align-items: center;
      &:last-child {
        border-bottom: 0;
      }
      &::before {
        content: attr(data-title);
        display: inline-block;
        min-width: 6rem;
        color: #000;
        font-weight: bold;
      }
    }
  }
}

.green {
  color: $green;
}
