@import "../../../../theme.scss";
:host {
  margin: 0 -2rem;
  width: calc(100% + 4rem);
  color: #fff;
  display: flex;
  // background: #223e5e;
  overflow: auto;
}

ul {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  border-bottom: 1px solid $opacityBorder;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;
    display: none !important;
  }
}

.mi {
  color: $grey;
  cursor: pointer;
  border-bottom: 1px solid $opacityBorder;
  &:hover {
    color: #000;
  }
}

li {
  text-align: center;
  cursor: pointer;
  color: $grey;
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0 1vmin;
  margin: 0 2vmin;
  margin-bottom: -2.5px;
  white-space: nowrap;
  &.active {
    color: #000;
    border-bottom: 5px solid $main;
  }
  @media screen and(max-width:960px) {
    flex: 1 1 auto;
    text-align: center;
  }
}
