<div class="mi" (click)="scroll(nav, 'left')" *ngIf="nav && nav.scrollLeft > 0">
  chevron_left
</div>
<ul
  #nav
  class="f1"
  (scroll)="nav.scrollLeft = nav.scrollLeft"
  (window:resize)="nav.scrollLeft = nav.scrollLeft"
>
  <li
    class="f1"
    *ngFor="let item of menu; index as idx"
    (click)="active = idx"
    [class.active]="active == idx"
  >
    {{ item }}
  </li>
</ul>
<div
  class="mi"
  (click)="scroll(nav, 'right')"
  *ngIf="nav && nav.scrollLeft < nav.scrollWidth - nav.clientWidth"
>
  chevron_right
</div>
