@import "../../../../theme.scss";
:host {
  margin: 0 -2rem;
  width: calc(100% + 4rem);
  color: #fff;
  display: block;
  background: #223e5e;
  overflow: auto;
}

ul {
  display: flex;
}

li {
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  line-height: 2.5rem;
  padding: 0 0.5rem;
  &:hover {
    background: $darker;
  }
  &.active {
    position: relative;
    background: $lighter;
  }
}
