<table border="0" cellspacing="0" cellpadding="0" class="payment">
	  <tbody><tr>
	<td colspan="3" class="small">
	</td>
	</tr>

	  <tr>
    <td width="20%">姓名:</td>
    <td width="79%">
    <input type="hidden" name="total" value="1000">
    <input type="text" name="PMXNA" id="PMXNA" value="" class="order-table-field field-b">
	<input type="radio" name="PMXSX" id="PMXSX1" value="1"> 男
	<input type="radio" name="PMXSX" id="PMXSX2" value="0"> 女
    </td>
	</tr>
	<tr>
    <td>出生日期:</td>
    <td>
	<select name="PMXBT_YEAR" id="PMXBT_YEAR" class="order-table-field">
	<option value="" selected="selected"></option>
  	<option value="1919">1919</option>
  	<option value="1920">1920</option>
  	<option value="1921">1921</option>
  	<option value="1922">1922</option>
  	<option value="1923">1923</option>
  	<option value="1924">1924</option>
  	<option value="1925">1925</option>
  	<option value="1926">1926</option>
  	<option value="1927">1927</option>
  	<option value="1928">1928</option>
  	<option value="1929">1929</option>
  	<option value="1930">1930</option>
  	<option value="1931">1931</option>
  	<option value="1932">1932</option>
  	<option value="1933">1933</option>
  	<option value="1934">1934</option>
  	<option value="1935">1935</option>
  	<option value="1936">1936</option>
  	<option value="1937">1937</option>
  	<option value="1938">1938</option>
  	<option value="1939">1939</option>
  	<option value="1940">1940</option>
  	<option value="1941">1941</option>
  	<option value="1942">1942</option>
  	<option value="1943">1943</option>
  	<option value="1944">1944</option>
  	<option value="1945">1945</option>
  	<option value="1946">1946</option>
  	<option value="1947">1947</option>
  	<option value="1948">1948</option>
  	<option value="1949">1949</option>
  	<option value="1950">1950</option>
  	<option value="1951">1951</option>
  	<option value="1952">1952</option>
  	<option value="1953">1953</option>
  	<option value="1954">1954</option>
  	<option value="1955">1955</option>
  	<option value="1956">1956</option>
  	<option value="1957">1957</option>
  	<option value="1958">1958</option>
  	<option value="1959">1959</option>
  	<option value="1960">1960</option>
  	<option value="1961">1961</option>
  	<option value="1962">1962</option>
  	<option value="1963">1963</option>
  	<option value="1964">1964</option>
  	<option value="1965">1965</option>
  	<option value="1966">1966</option>
  	<option value="1967">1967</option>
  	<option value="1968">1968</option>
  	<option value="1969">1969</option>
  	<option value="1970">1970</option>
  	<option value="1971">1971</option>
  	<option value="1972">1972</option>
  	<option value="1973">1973</option>
  	<option value="1974">1974</option>
  	<option value="1975">1975</option>
  	<option value="1976">1976</option>
  	<option value="1977">1977</option>
  	<option value="1978">1978</option>
  	<option value="1979">1979</option>
  	<option value="1980">1980</option>
  	<option value="1981">1981</option>
  	<option value="1982">1982</option>
  	<option value="1983">1983</option>
  	<option value="1984">1984</option>
  	<option value="1985">1985</option>
  	<option value="1986">1986</option>
  	<option value="1987">1987</option>
  	<option value="1988">1988</option>
  	<option value="1989">1989</option>
  	<option value="1990">1990</option>
  	<option value="1991">1991</option>
  	<option value="1992">1992</option>
  	<option value="1993">1993</option>
  	<option value="1994">1994</option>
  	<option value="1995">1995</option>
  	<option value="1996">1996</option>
  	<option value="1997">1997</option>
  	<option value="1998">1998</option>
  	<option value="1999">1999</option>
  	<option value="2000">2000</option>
  	<option value="2001">2001</option>
  	<option value="2002">2002</option>
  	<option value="2003">2003</option>
  	<option value="2004">2004</option>
  	<option value="2005">2005</option>
  	<option value="2006">2006</option>
  	<option value="2007">2007</option>
  	<option value="2008">2008</option>
  	<option value="2009">2009</option>
  	<option value="2010">2010</option>
  	<option value="2011">2011</option>
  	<option value="2012">2012</option>
  	<option value="2013">2013</option>
  	<option value="2014">2014</option>
  	<option value="2015">2015</option>
  	<option value="2016">2016</option>
  	<option value="2017">2017</option>
  	<option value="2018">2018</option>
  	<option value="2019">2019</option>
  	</select>
    年
	<select name="PMXBT_MONTH" id="PMXBT_MONTH" class="order-table-field">
	<option value="" selected="selected"></option>
	  <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>

	</select>
	月
	<select name="PMXBT_DAY" id="PMXBT_DAY" class="order-table-field">
	<option value="" selected="selected"></option>
	  <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>

	</select>
	日
    <!-- <span><span class="small">* 兒童會員必填　*供公視商城優惠識別之用</span></p> -->
	</td>
	</tr>
	<tr>

	<td>國籍:</td>
	<td>
    <input type="radio" name="local" id="local" value="本國人" checked=""> 本國人
	<input type="radio" name="local" id="local" value="外籍人士"> 外籍人士
	</td>
	</tr>
	<tr>
	<td>身份證字號 / 護照號碼:</td>
    <td>
    <input type="text" name="PMXID" id="PMXID" value="" class="order-table-field">
    <!-- <span class="small">*供公視商城優惠識別之用</span></td> -->
	</tr>
    	<!-- <tr>

	<td>教育程度:</td>
    <td>
    <select name="PMELV" id="PMELV" class="order-table-field">
  	<option value="" selected="selected"></option>
  	<option value="國小(含)以下">國小(含)以下</option>
  	<option value="國中">國中</option>
  	<option value="高中職">高中職</option>
  	<option value="大學">大學</option>
  	<option value="碩士">碩士</option>
    <option value="博士(含)以上">博士(含)以上</option>
    <option value="其它">其它</option>
    </select>
    </td>
	</tr> -->
    	<!-- <tr>

	<td>職業類別:</td>
    <td>
    <select name="PMJKD" id="PMJKD" class="order-table-field">
  	<option value="" selected="selected"></option>
  	<option value="不動產相關產業">不動產相關產業</option>
  	<option value="生產製造業">生產製造業</option>
  	<option value="金融業">金融業</option>
  	<option value="傳播出版相關產業">傳播出版相關產業</option>
  	<option value="農林漁牧業">農林漁牧業</option>
    <option value="電腦相關產業">電腦相關產業</option>
    <option value="軍警教公職">軍警教公職</option>
    <option value="學生">學生</option>
    <option value="家管">家管</option>
    <option value="服務業">服務業</option>
    <option value="其它">其它</option>
    </select>
    </td>
	</tr> -->
	<tr>
    <td>電話:<span class="small" color="red">(擇一必填)</span></td>
    <td>
    (室話) <input name="PMTL1" type="text" id="PMTL1" value="" class="order-table-field"><span class="small" color="red">範例：02-12345678</span>
    </td>
	</tr>
    <tr>
    <td>&nbsp;</td>
    <td>
    (手機) <input name="PMTL3" type="text" id="PMTL3" value="" class="order-table-field">
    </td>
	</tr>
      	<tr>

	  <td>電子郵件:</td>
	  <td>
      <input type="text" name="PMEML" id="PMEML" value="" class="order-table-field field-b">
      <span class="small" color="red"><br>建議您提供Email信箱,方便寄送捐款通知,以便後續確認及查詢</span>
      <p><!--<input type="checkbox" name="epaper" id="epaper" value="1" /> 我願意收到公視電子報--></p>
      </td>
	  </tr>
		<tr>

	  <td>會員通訊地址:</td>
	  <td>

            <select name="F_I_CNo" id="myCity" class="order-table-field">
                        <option value="">選擇縣市</option>
                                                <option value="台北市">台北市</option>
                                                <option value="基隆市">基隆市</option>
                                                <option value="新北市">新北市</option>
                                                <option value="宜蘭縣">宜蘭縣</option>
                                                <option value="新竹市">新竹市</option>
                                                <option value="新竹縣">新竹縣</option>
                                                <option value="桃園市">桃園市</option>
                                                <option value="苗栗縣">苗栗縣</option>
                                                <option value="台中市">台中市</option>
                                                <option value="彰化縣">彰化縣</option>
                                                <option value="南投縣">南投縣</option>
                                                <option value="雲林縣">雲林縣</option>
                                                <option value="嘉義市">嘉義市</option>
                                                <option value="嘉義縣">嘉義縣</option>
                                                <option value="台南市">台南市</option>
                                                <option value="高雄市">高雄市</option>
                                                <option value="南海諸島">南海諸島</option>
                                                <option value="澎湖縣">澎湖縣</option>
                                                <option value="屏東縣">屏東縣</option>
                                                <option value="台東縣">台東縣</option>
                                                <option value="花蓮縣">花蓮縣</option>
                                                <option value="金門縣">金門縣</option>
                                                <option value="連江縣">連江縣</option>

                    </select>
                    <select name="F_I_TNo" id="myTown" class="order-table-field">
                        <option value="">選擇鄉鎮</option>
                    </select>
      郵遞區號：
      <input id="myZip" type="text" class="order-table-field" name="F_S_NH_Zip" value="" size="5" readonly="ture">

      <input type="text" class="order-table-field" id="myAddress" name="F_S_NH_Address" value="">

    </td>
	  </tr>

		    <tr>

	  <td>收據開立方式:</td>
	  <td>
      <input type="radio" name="receiptType" id="receiptType1" value="1" onclick="open_order(1)"> 單次開立
      <input type="radio" name="receiptType" id="receiptType2" value="2" onclick="open_order(1)"> 年底合併開立
      <input type="radio" name="receiptType" id="receiptType3" value="3" onclick="open_order(0)" checked=""> 不需寄送收據
      <input type="radio" name="receiptType" id="receiptType4" value="4" onclick="open_order(2)"> 上傳至國稅局作為個人綜所稅申報

      </td>
	  </tr>
      	<tr id="order_t1" style="display:none">

	  <td rowspan="2">收據抬頭:</td>
	  <td>
      <input type="radio" name="PMADMX" id="PMADMX1" value="1">
      同捐款人
      <input type="radio" name="PMADMX" id="PMADMX2" value="2" checked=""> 同會員
      </td>
	  </tr>
      	<tr id="order_t2" style="display:none">

	  <td>
	    <input type="radio" name="PMADMX" id="PMADMX3" value="3"> 其他
	    <input type="text" name="PMADM" id="PMADM" class="order-table-field field-b">
	    <p><span class="small"> * 公司行號請備註統編　</span></p>
	    </td>
	  </tr>
      	<tr id="order_t3" style="display:none">
	  <td>收據地址:</td>
    <td>
      <select id="addr1" name="addr1" onchange="showLOC('myCity2','myTown2','myZip2','myAddress2',this)" class="order-table-field order-button">
      <option value="0">請選擇</option>
      <option value="1">同通訊地址</option>
      </select>

            <select name="F_I_CNo2" id="myCity2" class="order-table-field">
                  <option value="">選擇縣市</option>
                                    <option value="台北市">台北市</option>
                                    <option value="基隆市">基隆市</option>
                                    <option value="新北市">新北市</option>
                                    <option value="宜蘭縣">宜蘭縣</option>
                                    <option value="新竹市">新竹市</option>
                                    <option value="新竹縣">新竹縣</option>
                                    <option value="桃園市">桃園市</option>
                                    <option value="苗栗縣">苗栗縣</option>
                                    <option value="台中市">台中市</option>
                                    <option value="彰化縣">彰化縣</option>
                                    <option value="南投縣">南投縣</option>
                                    <option value="雲林縣">雲林縣</option>
                                    <option value="嘉義市">嘉義市</option>
                                    <option value="嘉義縣">嘉義縣</option>
                                    <option value="台南市">台南市</option>
                                    <option value="高雄市">高雄市</option>
                                    <option value="南海諸島">南海諸島</option>
                                    <option value="澎湖縣">澎湖縣</option>
                                    <option value="屏東縣">屏東縣</option>
                                    <option value="台東縣">台東縣</option>
                                    <option value="花蓮縣">花蓮縣</option>
                                    <option value="金門縣">金門縣</option>
                                    <option value="連江縣">連江縣</option>

                </select>
                <select name="F_I_TNo2" id="myTown2" class="order-table-field">
                        <option value="">選擇鄉鎮</option>
                </select>
                    郵遞區號：
              <input id="myZip2" type="text" class="order-table-field" name="F_S_NH_Zip2" value="" size="5" readonly="ture">
                          <input type="text" class="order-table-field field-b" id="myAddress2" name="F_S_NH_Address2" value="" style="width:210px;">


      </td>
      </tr>

      <tr id="order_t4" style="display:none">

         <td>&nbsp;</td>
         <td class="small">勾選此項將不再收到紙本收據，我們會將您的捐款資料及身份證字號上傳至國稅局，俾利年度報稅時查詢及下載。提醒您，年度捐贈資料一經上傳國稅局，捐款收據抬頭即不再受理變更。（收據抬頭需與會員姓名、身分證字號相同）</td>
      </tr>

		<tr>

		  <td rowspan="2">月刊寄送地址:</td>
		  <td>
     <select id="addr3" name="addr3" onchange="showLOC('myCity3','myTown3','myZip3','myAddress3',this)" class="order-table-field order-button">
      <option value="0">請選擇</option>
      <option value="1">同通訊地址</option>
      <option value="2">同收據地址</option>
      <option value="8">另列如下</option>
      <option value="9">不需寄送月刊</option>
      </select>

      <span id="Monthly">


      <select name="F_I_CNo3" id="myCity3" class="order-table-field">
                  <option value="">選擇縣市</option>
                                    <option value="台北市">台北市</option>
                                    <option value="基隆市">基隆市</option>
                                    <option value="新北市">新北市</option>
                                    <option value="宜蘭縣">宜蘭縣</option>
                                    <option value="新竹市">新竹市</option>
                                    <option value="新竹縣">新竹縣</option>
                                    <option value="桃園市">桃園市</option>
                                    <option value="苗栗縣">苗栗縣</option>
                                    <option value="台中市">台中市</option>
                                    <option value="彰化縣">彰化縣</option>
                                    <option value="南投縣">南投縣</option>
                                    <option value="雲林縣">雲林縣</option>
                                    <option value="嘉義市">嘉義市</option>
                                    <option value="嘉義縣">嘉義縣</option>
                                    <option value="台南市">台南市</option>
                                    <option value="高雄市">高雄市</option>
                                    <option value="南海諸島">南海諸島</option>
                                    <option value="澎湖縣">澎湖縣</option>
                                    <option value="屏東縣">屏東縣</option>
                                    <option value="台東縣">台東縣</option>
                                    <option value="花蓮縣">花蓮縣</option>
                                    <option value="金門縣">金門縣</option>
                                    <option value="連江縣">連江縣</option>

                </select>
                <select name="F_I_TNo3" id="myTown3" class="order-table-field">
                        <option value="">選擇鄉鎮</option>
                </select>
                    郵遞區號：
      <input id="myZip3" type="text" class="order-table-field" name="F_S_NH_Zip3" value="" size="5" readonly="ture">

      <input type="text" class="order-table-field field-b" id="myAddress3" name="F_S_NH_Address3" value="" style="width:180px;">
      </span>

	      </td>
	    </tr>
        <tr>

	  <td><span class="cust_city_code2_box1" style="display:none;">  收受人: <input type="text" name="PMMAX" id="PMMAX" class="order-table-field"></span></td>
	  </tr>




      		<tr>

      		  <td>捐款備註事項:</td>
      		  <td><textarea name="PMMRK" rows="5" class="order-table-field field-b" id="PMMRK"></textarea>
             <!-- <span class="small"><br>*依公視法規定，本會需公告捐款者姓名及金額，如您不願姓名被公佈，請務必備註。若有推薦人也請於此欄說明。</span> -->
          </td>
	    </tr>
        <!-- <tr>

	          <td>捐款訊息來源:</td>
	          <td><select name="PMS" id="PMS" class="order-table-field">
	            <option value="" selected="selected"></option>
	            <option value="公視之友月刊">公視之友月刊</option>
	            <option value="寒暑假遊戲本">寒暑假遊戲本</option>
	            <option value="公視頻道">公視頻道</option>
	            <option value="公視網站">公視網站</option>
	            <option value="Facebook">Facebook</option>
	            <option value="網路影音平台">網路影音平台</option>
	            <option value="參觀公視">參觀公視</option>
	            <option value="親友介紹">親友介紹</option>
	            <option value="其它">其它</option>
	          	            </select></td>
        </tr> -->
	    <tr>
	      <td >個資同意</td>
	      <td>
	        <input type="checkbox" name="priv" id="priv">
          我已詳細閱讀並同意以下條款：</td>
        </tr>
		<tr>
      <td></td>
	  <td>
      <!-- <b>財團法人公共電視文化事業基金會個人資料使用告知事項</b> -->
      <p>
          感謝您捐款XXX，以下依據《個人資料保護法》(暨施行細則)，向您告知本公司蒐集、處理及利用個人資料之事項： 本公司依據蒐集的個人資料包含識別個人姓名、身份證字號、出生年月日、地址、電話及電子郵件地址等相關資訊，將僅限合於營業登記項目或章程所載之目的事業，就業務需要之募款、會員管理及營業範圍內相關服務使用，並遵守《個人資料保護法》之規定，妥善保護您的個人資訊。 依據《個人資料保護法》第3條之規定，您可向本公司行使之個資權利包括：查詢、閱覽、複製、補充、更正、處理、利用及刪除。您可與本公司聯繫 ( 電洽 02-12345678 轉 12 )，本公司將儘速處理與回覆您的請求。</p></td>
	  </tr>
	<tr>

	  <td class="order-border">&nbsp;</td>
	  <td class="order-border">&nbsp;</td>
	  </tr>
    </tbody></table>
