@import "../../../../../theme.scss";

.payment {
  padding: 1rem 0;
  margin: 2rem 0;
  line-height: 1.5rem;
  font-size: 0.8rem;
  border-bottom: 1px solid $grey;
  td {
    vertical-align: top;
    padding: 0.5rem;
    &:first-child {
      font-size: 0.9rem;
      min-width: 5rem;
    }
  }
  .small {
    display: inline-block;
    white-space: pre-wrap;
    font-size: 0.8rem;
    line-height: 1rem;
    color: $red;
  }
  .flex {
    display: inline-flex;
    margin-right: 1rem;
    white-space: nowrap;
    flex-wrap: wrap;
  }
  a {
    color: $main;
    margin-left: 0.5rem;
    &.no-margin {
      margin-left: 0;
    }
  }
  .mi {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  input[type="text"],
  select {
    height: 1.8rem;
    font-size: 0.8rem;
    text-align: center;
    margin: 0 0.5rem;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 0 0.5rem;
    width: 8rem;
    &.address {
      text-align: left;
      width: 20rem;
      @media screen and (max-width: 480px) {
        width: 15rem;
      }
    }
  }
}
