<h3>退票方式 - 請依照各節目公告「(必讀)購買須知」退票方式為準</h3>
<p>
  因應文藝字第10120225241號令【藝文表演票券定型化契約應記載及不得記載事項】及文藝字第10220040191號令【藝文展覽票券定型化契約應記載及不得記載事項】，另依據中華民國107年5月16日文藝字第10710128232號公告修定之「藝文表演票券定型化契約應記載及不得記載事項」第六條規定：「企業經營者應提供藝文表演票券退、換票機制並詳加說明。但非供自用，購買票券而轉售圖利者，企業經營者得不予退、換票。」如相關資料顯示有任何違反該條之規定時，本公司及本售票系統保有不受理退、換票之權利。
</p>

<h4>退票注意事項：</h4>
<p>
  1. 非供自用或購買票券而轉售圖利者，企業經營者得不予退、換票。<br />
  2. 請注意若購買套票，退換票亦需整個套票退票，無法退單張票券。<br />
  3. 購票前，請先查看該節目的「(必讀)購買須知」內退票規則說明。<br />

  4.
  為維護購票者個資安全，本退票服務僅限購票者本人申請，並須填妥退票申請書將以下資料完整提供辦理，一經收單後，視同您同意本公司進行相關退票作業，包含電話連繫、缺(補)件作業等)並直接辦理退票作業，無法再取消退票申請。
  <br />
  5.
  未於退票期限內寄達者，本系統將依本申請書上之聯絡資訊通知申請人取回票券，若無法與申請人取得聯繫或無法與您達成取回票券共識者，本公司將不負票券保管或任何其他責任，所有責任與後果將由申請人自行負擔。
  <br />
  6.系統服務費、取票手續費、轉帳手續費及寄回郵資非屬票價部分不在退費範圍之內。
</p>

<h4>檢附退票資料：</h4>
<p>
  (1) 紙本票券正本。(國內郵寄/超商取票者必須提供，電子票券取票免)<br />
  (2)退票申請書。(各節目使用退票規則不同，請至欲退票節目內的「(必讀)購買須知」>「退票須知」查看下載)
  <br />(3) 帳戶存摺影本。(限訂購人帳戶/刷卡購票者免附)
</p>
<h4>寄送地址：</h4>
<p>83048高雄市鳳山區青年路二段371號2樓 寬宏藝術 票務收。</p>

<h4>退票截止時間 :</h4>
<p>
  需以退票申請書收件日為準或以退換票郵件「送達」本公司指定地址之日為準，非寄送日或填寫日；另非營業時間本公司恕無法收件，請自行計算寄達期限。為避免爭議，請透過郵局限時掛號或快遞等有寄達簽收服務的第三方郵寄公司寄送。如親送票券申請退票者亦需比照上述流程辦理，恕無法提供現金退費。
</p>

<h3>藝文[表演類]票券-退票說明</h3>
<p>
  依文化部於中華民國107年5月16日文藝字第10710128232號公告修定之『藝文表演票券定型化契約應記載及不得記載事項』第六條退、換票機制，主辦單位可依藝文表演之性質，就以下4種方案擇一公告，作為退(換)票之處理機制：
</p>
<p>
  若購買套票，退換票亦需整個套票退票，無法退單張票券。各節目採用之退票方案及退款方式，請查看該節目「購買須知」退票說明。
</p>
<p>
  方案一：退(換)票應於演出日前10日(不含演出日)；手續費為票面金額10%。<br />方案二：退(換)票應於購買票券後3日內(不含購票日)；手續費為票面金額5%。<br />方案三：退(換)票應於演出日前20日(不含演出日)；手續費為票面金額10%。<br />方案四：採級距式(不含演出日)之退(換)票處理規範。
</p>
<p>
  1、演出日前第31日前辦理退(換)票者，手續費為票面金額10%。<br />2、演出日前第11日至第30日內辦理退(換)票者，手續費為票面金額30%。<br />3、演出日前第3日至第10日內辦理退(換)票者，手續費為票面金額50%。<br />4、演出當日至演出日前第2日內辦理退(換)票者，業者得不予退、換票。
</p>

<h4>藝文[展覽類]票券退票說明</h4>
<p>
  若購買套票組合(含贈品，兌換卷或搭配其他聯合活動)，退換票亦需整個套票組合包裝完整連同票券退回，無法退單張票券。
</p>
<h4>退票期限：(閉展日-1日 = 最後信件寄達日)</h4>
<p>
  限由寬宏售票官方通路售出之票券，於閉展前一日截止收件，郵寄以信件寄達日為準非郵戳日期！逾期將不再接受退換票，若閉展日遇假日則需提前一個上班日寄達(例:閉展日為週六/週日/國定假日，則最後收件日為展結前的週五/上班日)
  款項退回說明
</p>

<p>退票手續費：票面價10%計</p>

<h3>退款說明</h3>

<h4>現金購票：(超商/端點)</h4>
<p>
  1.扣除退票手續費及匯款手續費後票款金額，匯款至退票信函中之指定帳戶。<br />2.匯票款日期：本售票系統收到票券之次月
  10 日,遇例假日則遞延後一工作日。
</p>
<h4>現金購票: (虛擬ATM轉帳)</h4>
<p>
  1.扣除退票手續費及匯款手續費後票款金額，匯款至原訂購人帳戶。<br />2.匯票款日期：本售票系統收到票券之次月
  10 日,遇例假日則遞延後一工作日。
</p>
<h4>信用卡購票: (網路/手機APP)</h4>
<p>
  1.扣除退票手續費後票款金額，於收到票券之隔週四刷退至原刷卡購票之信用卡帳戶，恕無法以現金或其它指定方式退還，退款時間將依發卡行及銀行之作業時間為準約需10-14工作天，請主動向銀行端查詢退款進度。
</p>
<p>
  本公司營業時間：週一至週五AM9:00~AM12:00；PM13:00~PM18:00 (遇國定假日例外)。
</p>
