@import "../../../theme.scss";
.selector {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  position: relative;
  line-height: 1.8rem;
}

.mi {
  font-size: 1.5rem;
  margin-left: 5px;
}

ul {
  display: block;
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  color: #000;
  border: 1px solid $grey;
  z-index: 10;
}
li {
  line-height: 2rem;
  padding: 0 1rem;
  &:hover {
    background: $lightGrey;
  }
  &.active {
    color: #fff;
    background: $main;
  }
}
