<div class="full">
  <div class="package">
    <app-title word="旅展套票" [showMore]="false"></app-title>
    <div class="cards nowrap">
      <app-card
        class="nowrap"
        *ngFor="let card of cards"
        [image]="card.image"
        [title]="card.title"
        [text]="card.text"
        [showTag]="false"
      ></app-card>
    </div>
    <div class="footer">
      <div class="f1 ss-hide">
        Note: Any show of package is not allowed to refund or change. AGE LIMIT:
        13 years old and above. 13 - 18 years old MUST be accompanied by an
        adult at all times.
      </div>
      <button class="f0">加入購物車</button>
    </div>
  </div>
  <div class="package">
    <app-title word="回憶套票" [showMore]="false"></app-title>
    <div class="cards nowrap">
      <app-card
        class="nowrap"
        *ngFor="let card of cards"
        [image]="card.image"
        [title]="card.title"
        [text]="card.text"
      ></app-card>
    </div>
    <div class="footer">
      <div class="f1 ss-hide">
        Note: Any show of package is not allowed to refund or change. AGE LIMIT:
        13 years old and above. 13 - 18 years old MUST be accompanied by an
        adult at all times.
      </div>
      <button class="f0">加入購物車</button>
    </div>
  </div>
</div>
