<table cellpadding="0" cellspacing="0">
  <tr *ngIf="!token.isLogin">
    <td rowspan="6" class="img md-hide">
      <img src="assets/changePassword-image.svg" alt="" />
    </td>
    <td>
      <label class="f1"
        ><span class="mi">person</span><input type="text" placeholder="帳號"
      /></label>
    </td>
  </tr>
  <tr>
    <td *ngIf="token.isLogin" rowspan="5" class="img md-hide">
      <img src="assets/changePassword-image.svg" alt="" />
    </td>
    <td>
      <label
        ><span class="mi">lock</span><span class="mi check">block</span
        ><input
          [type]="showOldPassword ? 'text' : 'password'"
          placeholder="舊密碼"
        /><i class="mo" (click)="showOldPassword = !showOldPassword">{{
          showOldPassword ? "visibility" : "visibility_off"
        }}</i></label
      >
    </td>
  </tr>
  <tr>
    <td>
      <label>
        <span class="mi">lock</span>
        <input
          [type]="showPassword1 ? 'text' : 'password'"
          placeholder="新密碼"
          [(ngModel)]="password"
        /><i class="mo" (click)="showPassword1 = !showPassword1">{{
          showPassword1 ? "visibility" : "visibility_off"
        }}</i>
      </label>
      <ng2-password-strength-bar
        [passwordToCheck]="password"
        [barColors]="['#b74085', '#ed6161', '#e5b822', '#83b81a', '#45a5bf']"
      >
      </ng2-password-strength-bar>
    </td>
  </tr>
  <tr>
    <td>
      <label
        ><span class="mi">lock</span
        ><span class="mi check">check_circle_outline </span
        ><input
          [type]="showPassword2 ? 'text' : 'password'"
          placeholder="確認新密碼"
        /><i class="mo" (click)="showPassword2 = !showPassword2">{{
          showPassword2 ? "visibility" : "visibility_off"
        }}</i></label
      >
    </td>
  </tr>

  <tr>
    <td>
      <div class="flex code">
        <img [src]="imgDataURL" alt="" (click)="reload()" />
        <label class="f1"
          ><span class="mi">cached</span><input type="text" placeholder="驗證碼"
        /></label>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="flex submit">
        <button class="cancel">取消</button>
        <button>確認送出</button>
      </div>
    </td>
  </tr>
</table>
