@import "../../../theme.scss";
:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.limit {
  border: 2px solid $opacityBorder;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  margin-top: 5rem;
  background: $opacityWhite;
  position: relative;
  padding-top: 0;
  @media screen and (max-width: 640px) {
    margin-top: 0;
    border: none;
    border-radius: 0;
  }
}

.header {
  display: flex;
  background: #fff;
  margin: 0 -4vmin;
  padding: 1rem 4vmin 0;
}

ul {
  display: flex;
  margin-left: -4vmin;
  padding-left: 2vmin;
  border-bottom: 1px solid $opacityBorder;
  @media screen and (max-width: 640px) {
    margin-right: -4vmin;
  }
}

li {
  cursor: pointer;
  color: $grey;
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0 1vmin;
  margin: 0 2vmin;
  margin-bottom: -2.5px;
  white-space: nowrap;
  &.active {
    color: #000;
    border-bottom: 3px solid $main;
  }
  @media screen and(max-width:960px) {
    flex: 1 1 auto;
    text-align: center;
  }
}

.icon {
  width: 10rem;
  height: 10rem;
  background: $main;
  margin: -5rem 0 -3rem 2rem;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 3px 6px 0 $darker;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 4rem 2vw;
  @media screen and (max-width: 640px) {
    padding: 2rem 2vw;
  }
}
