@import "../../../theme.scss";
h1 {
  font-weight: normal;
  margin-top: 2rem;
}

.payment {
  line-height: 1.8rem;
  font-size: 0.9rem;

  td {
    vertical-align: top;
    padding: 1rem 0.5rem;
    &:first-child {
      font-size: 1rem;
      min-width: 5rem;
    }
  }
  .small {
    white-space: pre-wrap;
    font-size: 0.8rem;
  }
  .flex {
    display: inline-flex;
    margin-right: 1rem;
    white-space: nowrap;
    flex-wrap: wrap;
  }
  a {
    color: $main;
    margin-left: 0.5rem;
    &.no-margin {
      margin-left: 0;
    }
  }
  .mi {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  input,
  app-selector {
    font-size: 0.8rem;
    text-align: center;
    margin-left: 0.5rem;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 0 0.5rem;
    width: 8rem;
    &.address {
      text-align: left;
      width: 20rem;
      @media screen and (max-width: 480px) {
        width: 15rem;
      }
    }
  }
}

.card {
  margin-top: 1rem;
  td {
    padding: 0.5rem 0;
    &:first-child {
      width: 7rem;
    }
    input,
    app-selector {
      margin: 0;
      width: 6rem;
    }
  }
}

.hr {
  height: 1px;
  background: $grey;
  margin-top: 1rem;
}

.empty {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.checkRead {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-bottom: -1rem;
  color: $grey;
  a {
    font-weight: bold;
    color: $grey;
  }
  .mi {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.explain {
  background: $lightGrey;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  max-height: 6rem;
  overflow: auto;
}

.btns {
  font-size: 1rem;
  margin: 2rem 0;
  margin-left: 0.5rem;
  text-align: center;
  button {
    padding: 0.5rem 2rem;
    margin-left: 0.5rem;
  }
}

button {
  color: #fff;
  border-radius: 5px;
  border: none;
  line-height: 1.2rem;
  padding: 0 0.5rem;
  background: $main;
  &.cancel {
    color: $grey;
    background: $lightGrey;
  }
  &.green {
    background: $green;
  }
}

.total {
  margin-top: 2rem;
  text-align: right;
  .flex {
    justify-content: flex-end;
    align-items: flex-end;
    .price {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }
}
