.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  padding: 0.5em 0;
  box-shadow: 0 0 5px rgba(black, 0.5);
  z-index: 100;
}
.limit {
  margin: 0 auto;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  cursor: pointer;
  user-select: none;
}

.mo {
  cursor: pointer;
}
.mo,
.wellcome {
  margin-left: 0.5em;
}

.logo {
  cursor: pointer;
  height: 2em;
  margin: 0 1.5em;
  outline: 0;
  img {
    height: 100%;
  }
}
