@import "../../../../theme.scss";
:host {
  max-width: 90vw;
  margin-top: -3rem;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background: $main;
  border-radius: 50%;
  transform: translateY(50%);
  position: relative;
  z-index: 2;
  margin: 0 auto;
  i {
    cursor: auto;
    font-size: 4rem;
  }
}
.box {
  display: inline-block;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  background: rgba(white, 0.8);
  color: $grey;
  position: relative;
  z-index: 1;
  h1 {
    font-weight: normal;
    color: #000;
    padding-top: 1.5rem;
  }
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $grey;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;

  input {
    background: none;
    border: none;
    border-left: 1px solid $grey;
    padding-left: 1rem;
    margin-left: 0.5rem;
    line-height: 2rem;
    width: 100%;
    &::placeholder {
      color: $grey;
    }
  }
}

.securiry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .code {
    width: 8rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
  }
  input {
    max-width: 8rem;
  }
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: -1rem;
  label {
    cursor: pointer;
    display: inline-flex;
    border: none;
    margin-bottom: 0;
    padding: 0;
  }
  .color {
    color: $main;
  }
  span {
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    background: $main;
    width: 3rem;
    height: 3rem;
    border: none;
    &.cancel {
      background: $grey;
      margin-right: 0.5rem;
    }
    &.gg {
      background: $google;
      margin-right: 0.5rem;
    }
    &.fb {
      background: $facebook;
      margin-right: 0.5rem;
    }
  }
}

p {
  font-weight: bold;
  cursor: pointer;
  border-top: 1px solid #fff;
  text-align: center;
  margin-top: 1rem;
  line-height: 3rem;
  display: block;
  position: relative;
  z-index: 1;
  &:hover {
    text-shadow: 0 0 5px $darker;
  }
}
