<div class="full" (click)="closeAll()"></div>
<app-login
  *ngIf="lightBox.showLogIn"
  (forget)="lightBox.showPassword = true; lightBox.showLogIn = false"
  (login)="login.emit(); lightBox.showBlur = false; lightBox.showLogIn = false"
  (close)="lightBox.showBlur = false; lightBox.showLogIn = false"
></app-login>
<app-password
  *ngIf="lightBox.showPassword"
  (cancel)="lightBox.showPassword = false; lightBox.showLogIn = true"
  (close)="lightBox.showBlur = false; lightBox.showPassword = false"
></app-password>
<app-seats *ngIf="lightBox.showSeats"></app-seats>
<app-packages *ngIf="lightBox.showPackages"></app-packages>
<app-identity *ngIf="lightBox.showIdentity"></app-identity>
<app-add-group *ngIf="lightBox.showGroup"></app-add-group>
<app-return-ticket *ngIf="lightBox.showReturn"></app-return-ticket>
<app-return-package *ngIf="lightBox.showReturnPkg"></app-return-package>
