<h1>訂單編號：12345678</h1>

<div class="payment">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td>取票：</td>
      <td>Collect at Box Office</td>
    </tr>
    <tr>
      <td>發票：</td>
      <td>捐贈發票給 伊甸基金會</td>
    </tr>
    <tr>
      <td>付款：</td>
      <td>Master Card: 5520 XXXX XXXX 4707 Amount Total:RM 16,310</td>
    </tr>
    <tr>
      <td>退費：</td>
      <td>
        No cancellation or changes allowed once ticket(s) sold. No refund is
        allowed after a purchase is made. Lost or damage ticket(s) will not be
        entertained
      </td>
    </tr>
    <tr>
      <td>備註：</td>
      <td>Please arrive the venue 30 minutes earlier before showtime</td>
    </tr>
  </table>
</div>

<div class="orders">
  <div class="ticket">
    <app-no-seat></app-no-seat>
  </div>
  <div class="ticket">
    <app-seat-info></app-seat-info>
  </div>
  <div class="ticket">
    <package-ticket></package-ticket>
  </div>
</div>

<div class="flex countTotal">
  <div class="count">
    <span>訂單金額： 15300</span>
    <span class="red">折價： 2460</span>
  </div>
  <div class="total">總價： <span>12,840</span></div>
</div>
