@import "../../../../theme.scss";
:host {
  width: calc(100% + 4rem);
  margin: 0 -2rem;
  display: block;
  margin-bottom: 1rem;
  overflow: auto;
}

table {
  width: 100%;
}

th,
td {
  min-width: 30%;
  height: 4rem;
  line-height: 1.5rem;
  padding: 5px;
  text-align: center;
  // &:first-child {
  //   white-space: nowrap;
  // }
  &:last-child {
    min-width: 3rem;
    text-align: center;
  }
  .mi {
    font-size: 1rem;
  }
}

th {
  font-size: 1.2rem;
  color: $second;
  border-bottom: 2px solid $grey;
  .ss-show {
    display: inline-block !important;
  }
  @media screen and (max-width: 640px) {
    font-size: 1rem;
  }
}

td {
  font-size: 1rem;
  color: #000;
  border-bottom: 1px solid $grey;
  @media screen and (max-width: 640px) {
    font-size: 0.8rem;
    line-height: 1.2rem;
    .ss-show {
      margin-top: 5px;
    }
  }
  &.price {
    font-size: 0.9rem;
    max-width: 200px;
    margin: 0 auto;
    .flex {
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .fake {
      opacity: 0;
      pointer-events: none;
      max-height: 0;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  a {
    flex: 1 1 auto;
    color: $darkGrey;
    display: inline-block;
    background: $lightGrey;
    padding: 0 0.5rem;
    border-radius: 1rem;
    margin: 0.25rem;
  }
}

button {
  border: none;
  border-radius: 2rem;
  min-width: 5rem;
  padding: 5px 0.5rem;
  color: #fff;
  background: $main;
  &::before {
    border-radius: 2rem;
  }
  &[disabled] {
    background: $grey;
  }
  & + span {
    line-height: 1rem;
    display: block;
    font-size: 0.7rem;
    margin-top: 5px;
  }
  // @media screen and (max-width: 640px) {
  //   font-size: 0.8rem;
  // }
  // @media screen and (max-width: 480px) {
  //   min-width: 3rem;
  //   width: 3rem;
  //   height: 3rem;
  //   padding: 0.5rem 5px;
  // }
}

.tal {
  padding-left: 1rem;
  text-align: left !important;
}

.tac {
  text-align: center !important;
}

.tar {
  padding-right: 1rem;
  text-align: right !important;
}

@media screen and (max-width: 480px) {
  table,
  tbody {
    display: flex;
  }
  table {
    padding: 0.5rem;
    overflow: auto;
  }
  tbody {
    margin: -0.5rem;
    padding: 0.5rem;
  }
  tr,
  td {
    height: auto;
    display: block;
    width: 100%;
  }
  tr {
    border: 2px solid $lightGrey;
    width: 80%;
    min-width: 250px;
    background: #fff;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 $lightGrey;
    &:first-child {
      display: none;
    }
  }
  td {
    border-bottom: 0;
    &.tal {
      font-size: 1rem;
      font-weight: bold;
      text-align: center !important;
    }
    &::before {
      content: attr(data-title);
    }
    button {
      margin-top: 0.5rem;
    }
  }
}

.sellout {
  text-decoration: line-through;
}

.memo {
  color: $grey;
  margin-top: 0.5rem;
  &.blue {
    color: $main;
    cursor: pointer;
  }
}
