<div class="table">
  <table cellpadding="0" cellspacing="0" *ngIf="type == 'seat'">
    <tr>
      <th><span>時間</span><span class="ss-show">地點</span></th>
      <th class="ss-hide">地點</th>
      <th>名稱<span class="ss-show">票價</span></th>
      <th class="ss-hide">票價</th>
      <th>購票</th>
    </tr>
    <tr>
      <td>
        <span>2018-01-12 (二) 19:30</span
        ><span class="ss-show"
          ><div class="mi">location_on</div>
          台中國家歌劇院中劇院</span
        >
      </td>
      <td class="ss-hide">
        <div class="mi">location_on</div>
        台中國家歌劇院中劇院
      </td>
      <td>
        <span>幾米音樂劇(時光電影院)</span>
        <span class="ss-show price"
          ><a>1000</a> <a>2000</a> <a>3000</a><a>1000</a> <a>2000</a> <a>3000</a
          ><a>1000</a> <a>2000</a> <a>3000</a></span
        >
      </td>
      <td class="ss-hide price">
        <a>1000</a> <a>2000</a> <a>3000</a><a>1000</a> <a>2000</a> <a>3000</a
        ><a>1000</a> <a>2000</a> <a>3000</a>
      </td>
      <td><button (click)="gotoCart()">購買</button></td>
    </tr>
    <tr>
      <td>
        <span>2018-01-12 (二) 19:30</span
        ><span class="ss-show"
          ><div class="mi">location_on</div>
          台中國家歌劇院中劇院</span
        >
      </td>
      <td class="ss-hide">
        <div class="mi">location_on</div>
        台中國家歌劇院中劇院
      </td>
      <td>
        <span>幾米音樂劇(時光電影院)</span>
        <span class="ss-show price"
          ><a>1000</a> <a>2000</a> <a>3000</a><a>1000</a> <a>2000</a> <a>3000</a
          ><a>1000</a> <a>2000</a> <a>3000</a></span
        >
      </td>
      <td class="ss-hide price">
        <a>1000</a> <a>2000</a> <a>3000</a><a>1000</a> <a>2000</a> <a>3000</a
        ><a>1000</a> <a>2000</a> <a>3000</a>
      </td>
      <td><button [disabled]="true">已完售</button></td>
    </tr>
    <tr>
      <td>
        <span>2018-01-12 (二) 19:30</span
        ><span class="ss-show"
          ><div class="mi">location_on</div>
          台中國家歌劇院中劇院</span
        >
      </td>
      <td class="ss-hide">
        <div class="mi">location_on</div>
        台中國家歌劇院中劇院
      </td>
      <td>
        <span>幾米音樂劇(時光電影院)</span>
        <span class="ss-show price"
          ><a>1000</a> <a>2000</a> <a>3000</a><a>1000</a> <a>2000</a> <a>3000</a
          ><a>1000</a> <a>2000</a> <a>3000</a></span
        >
      </td>
      <td class="ss-hide price">
        <a>1000</a> <a>2000</a> <a>3000</a><a>1000</a> <a>2000</a> <a>3000</a
        ><a>1000</a> <a>2000</a> <a>3000</a>
      </td>
      <td><button [disabled]="true">暫停銷售</button></td>
    </tr>
    <tr>
      <td>
        <span>2018-01-12 (二) 19:30</span
        ><span class="ss-show"
          ><div class="mi">location_on</div>
          台中國家歌劇院中劇院</span
        >
      </td>
      <td class="ss-hide">
        <div class="mi">location_on</div>
        台中國家歌劇院中劇院
      </td>
      <td>
        <span>幾米音樂劇(時光電影院)</span>
        <span class="ss-show price"
          ><a>1000</a> <a>2000</a> <a>3000</a><a>1000</a> <a>2000</a> <a>3000</a
          ><a>1000</a> <a>2000</a> <a>3000</a></span
        >
      </td>
      <td class="ss-hide price">
        <a>1000</a> <a>2000</a> <a>3000</a><a>1000</a> <a>2000</a> <a>3000</a
        ><a>1000</a> <a>2000</a> <a>3000</a>
      </td>
      <td>
        <button [disabled]="true">尚未啟售</button
        ><span>2019/12/31 12:00 起售</span>
      </td>
    </tr>
  </table>

  <table
    cellpadding="0"
    cellspacing="0"
    *ngIf="type == 'package'"
    class="package"
  >
    <tr>
      <th class="tal">套票名稱</th>
      <th>銷售開始</th>
      <th>銷售結束</th>
      <th>購票</th>
    </tr>
    <tr>
      <td class="tal">時光劇場雙人套票9折</td>
      <td data-title="銷售開始：">2019/06/07</td>
      <td data-title="銷售結束：">2019/07/07</td>
      <td><button (click)="gotoCart()">購票</button></td>
    </tr>
    <tr>
      <td class="tal">時光劇場任選2場以上8折</td>
      <td data-title="銷售開始：">2019/06/07</td>
      <td data-title="銷售結束：">2019/07/07</td>
      <td><button (click)="gotoCart()">購票</button></td>
    </tr>
    <tr>
      <td class="tal">時光劇場學生三人成行9折</td>
      <td data-title="銷售開始：">2019/06/07</td>
      <td data-title="銷售結束：">2019/07/07</td>
      <td><button (click)="gotoCart()">購票</button></td>
    </tr>
  </table>
</div>
