<h3>購票方式說明</h3>
<p>
  1.
  網路/手機APP購票：(付款方式:信用卡或ATM)(取票方式：國內郵寄/現場取票/超商取票-系統服務費50元或電子票券-系統服務費0元)(108/4/1起系統服務費調整為每筆80元)
  本系統採取會員制，購票前請務必先加入會員，並請先詳閱服務條款及隱私權聲明。每筆訂單限購
  8
  張(特殊節目除外，以各節目購票須知為準)，可採信用卡或虛擬帳號ATM轉帳付款。請選擇要購買的節目，結帳前請確認相關購買資料及收件方式是否正確，並輸入購票人本人之信用卡號或
  選擇ATM轉帳付款，一旦扣款完成後將產生訂單編號，始完成交易。每筆網路訂單酌收NT$50的系統服務費(選擇郵寄/現場取票將於結帳時一併加入計費，選擇超商取票則於超商櫃台取票時再另行給付)。(電子票券限展覽類，演出類節目因場地受限尚未全面開放)
</p>

<p>
  如持國民旅遊卡於寬宏售票系統訂購票券完成訂單者，請於購票日後七日內填妥相關資料並詳讀注意事項後，將此表格(國民旅遊卡網路預購型交易登錄表)回傳07-7805353或e-mail至khamtw@gmail.com寬宏客服信箱，由寬宏票務協助完成登錄事宜(作業時間需5個工作天)。
</p>

<p>
  2. 超商及端點購票方式：(付款方式:現金)(超商現場購票取票-系統服務費0元)
  每筆訂單限購 4 張，僅接受現金交易，目前提供「 萊爾富 Life-ET
  」「OK超商OK-go」自行操作機台列印小白單後10分鐘內至超商櫃台出示小白單並結帳方能取得正式票券。不另收系統服務費。
</p>

<p>
  3.
  傳真訂票方式：(付款方式:信用卡)(取票方式：郵寄/現場-系統服務費50元)(108/4/1起系統服務費調整為每筆80元)
  同一節目每筆訂單限購8張(特殊節目除外，以各節目購票須知為準)，一律採信用卡付款。可直接下載『節目專屬傳真訂購單』，填妥訂購單相關欄位，於週一~週五09:30~17:00
  傳真至 (07)7805353 。並請於傳真後致電 (07) 7809900確認傳真是否成功與否，若當日
  17:00 後之傳真訂單需於傳真次個工作日處理，敬請見諒。
</p>

<p>
  4. 現場票亭購票方式：(付款方式:現金)(現場直接購票取票-系統服務費0元)
  ●表演類：演出當日開演前 60 分鐘開始售票，表演開演後 30 分鐘停止售票。
  ●展覽類：展覽期間開館後開始售票，通常閉館前 30
  分鐘停止售票。(如節目有特殊規定除外,請詳閱各節目介紹說明)為避免現場購票需排隊久候，延誤入場時間，建議多多利用網路或超商提早購票。
</p>
