@import "../../../../theme.scss";
h1 {
  font-weight: normal;
}
.orders {
  > * {
    display: block;
    margin-bottom: 2rem;
  }
}

.ticket {
  position: relative;
  .mi {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    color: #fff;
    background: $lightGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
  }
  &:hover {
    .mi {
      opacity: 1;
    }
  }
}

button {
  color: #fff;
  border-radius: 5px;
  border: none;
  line-height: 1.2rem;
  padding: 0 0.5rem;
  background: $main;
  &.cancel {
    color: $grey;
    background: $lightGrey;
  }
  &.green {
    background: $green;
  }
}

.btns {
  font-size: 1rem;
  margin: 2rem 0;
  margin-left: 0.5rem;
  text-align: center;
  button {
    padding: 0.5rem 2rem;
    margin-left: 0.5rem;
  }
}

.red {
  color: $red;
}

.countTotal {
  justify-content: space-between;
  align-items: flex-end;
  .count {
    span {
      display: block;
      line-height: 1.5rem;
    }
  }
  .total {
    span {
      font-size: 2rem;
    }
  }
}

.cards {
  margin: 1rem 0 2rem 0;
}

.hr {
  height: 1px;
  background: $grey;
}

.empty {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
