<h3>演出類退票說明</h3>
<h4>1. 退票收費說明 [點此至]詳細退票方式流程</h4>

<p>
  藝文表演類票券退票說明：(非供自用或購買票券而轉售圖利者，企業經營者得不予退、換票。)資料來源：消費者保護處
  依文化部於中華民國107年5月16日文藝字第10710128232號公告修定之『藝文表演票券定型化契約應記載及不得記載事項』第六條退、換票機制，由企業經營者就以下退、換票機制擇一公告。
</p>

<p>
  (一)方案一：退(換)票應於演出日前10日(不含演出日)；手續費為票面金額10%。<br />
  (二)方案二：退(換)票應於購買票券後3日內(不含購票日)；手續費為票面金額5%。<br />
  (三)方案三：退(換)票應於演出日前20日(不含演出日)；手續費為票面金額10%。<br />
  (四)方案四：採級距式(不含演出日)之退(換)票處理規範。
</p>

<p>
  1、演出日前第31日前辦理退(換)票者，手續費為票面金額10%。<br />
  2、演出日前第11日至第30日內辦理退(換)票者，手續費為票面金額30%。<br />
  3、演出日前第3日至第10日內辦理退(換)票者，手續費為票面金額50%。<br />
  4、演出當日至演出日前第2日內辦理退(換)票者，業者得不予退、換票。
</p>

<p>
  ●為維護購票人個資安全，本退票服務僅限購票人申請，並須填妥退票申請書將以下資料完整提供辦理，一經收單後，將直接辦理退票作業，無法再取消退票申請。<br />
  ●退票截止時間，需以退票申請書收件日為準或以退換票郵件「送達」本公司指定地址之日為準，非寄送日或填寫日；另非營業時間本公司恕無法收件，請自行計算寄達期限。本公司營業時間：週一至週五AM9:00~AM12:00；PM13:00~PM18:00
  (遇國定假日例外)。<br />
  ●為避免爭議，必須透過郵局限時掛號或快遞等有寄達簽收服務的第三方郵寄公司寄送。<br />
  ●一旦本公司收訖退票作業資料，視同申請人同意本公司進行相關退票作業，包含電話連繫、缺(補)件作業等)。<br />
  ●系統服務費、取票手續費、轉帳手續費及寄回郵資非屬票價部分不在退費範圍之內。
</p>

<h3>展覽類退票說明</h3>

<p>退票期限：(閉展日-1日 = 最後信件寄達日)</p>

<p>
  退票手續費：由寬宏售票系統售出之活動退票需收票面價10%手續費，於閉展前一日截止收件，郵寄以信件寄達日為準非郵戳日期！逾期將不再接受退換票，※若閉展日遇假日則需提前一個上班日寄達(例:閉展日為週六/週日/國定假日，則最後收件日為展結前的週五/上班日)
</p>

<p>
  注意：未於退票期限內寄達者，本系統將依本申請書上之聯絡資訊通知申請人取回票券，若無法與申請人取得聯繫或無法與您達成取回票券共識者，本公司將不負票券保管或任何其他責任，所有責任與後果將由申請人自行負擔。系統服務費、取票手續費、轉帳手續費及寄回郵資非屬票價部分不在退費範圍之內。
</p>

<p>
  各節目採用之退票方案及退款方式，請參考各節目購票說明。如親送票券申請退票者亦需比照上述流程辦理，恕無法提供現金退費。
</p>

<p>
  注意:
  手續費收取標準將依各節目公告而定並以信件寄達日為準，作為計算手續費費率，非郵戳寄送日，請自行計算寄達期限。
  本公司營業時間：週一至週五09:30至18:00 (遇國定假日例外)
</p>
