:host {
  display: block;
  position: relative;
}
ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
  display: inline-flex;
  white-space: nowrap;
  position: relative;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

li {
  width: 100%;
  min-width: 100%;
  height: 30vmax;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mi {
  color: #fff;
  cursor: pointer;
  user-select: none;
  font-size: 3em;
  opacity: 0.1;
  transition: opacity 0.25s;
  text-shadow: 0 0 10px #000;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    opacity: 0.8;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
