<div class="content-bg"></div>
<div class="limit padding f1">
  <div class="header">
    <div class="mi" (click)="scroll(nav, 'left')" *ngIf="nav.scrollLeft > 0">
      chevron_left
    </div>
    <ul
      #nav
      class="f1 flex"
      (scroll)="nav.scrollLeft = nav.scrollLeft"
      (window:resize)="nav.scrollLeft = nav.scrollLeft"
    >
      <li class="f1" [routerLink]="['./us']" routerLinkActive="active">
        關於我們
      </li>
      <li class="f1" [routerLink]="['./privicy']" routerLinkActive="active">
        隱私權政策
      </li>
      <li class="f1" [routerLink]="['./service']" routerLinkActive="active">
        服務條款
      </li>
      <li class="f1" [routerLink]="['./donation']" routerLinkActive="active">
        捐款贊助
      </li>
    </ul>
    <div
      class="mi"
      (click)="scroll(nav, 'right')"
      *ngIf="nav.scrollLeft < nav.scrollWidth - nav.clientWidth"
    >
      chevron_right
    </div>
  </div>

  <div class="content f1">
    <router-outlet></router-outlet>
  </div>
</div>
