@import "../../../../theme.scss";

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.limit {
  border: 2px solid $opacityBorder;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  margin-top: 1.5rem;
  background: $opacityWhite;
  position: relative;
  @media screen and (max-width: 640px) {
    margin-top: 0;
    border: none;
    border-radius: 0;
  }
}

.title {
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.content {
  width: 100%;
  align-self: flex-start;
  padding-bottom: 3rem;
}
