<p>
  由於每個節目購買方式、付款方式及訂購張數限制須依各節目主辦規定而有所不同，請詳見各節目購買須知為準、以下說明為一般標準購票程序參考。
</p>

<h3>
  加入會員
</h3>

<p>
  建議於開賣前兩日完成加入會員(加入會員資料輸入完成→EMAIL信箱收認證信按下認證連結並完成認證動作)，未完成驗證者，恕無法進行網路購票。申請會員Email認證信部分：建議如需採免費信箱者可利用Gmail信箱減少系統擋信情況發生。
</p>

<p>
  ●已加入會員者請留意：(請務必完成認證方可進行網路購票)
</p>
<p>
  建議於開賣前兩日先行登入會員，本售票系統之會員密碼每三個月須重新設定，請確認是否需更新密碼及檢查會員資料、收件住址、電話等資料是否正確，以免耽誤您購買權益
</p>

<h3>進行購票</h3>

<p>
  請選擇要購買的節目，結帳前請確認相關購買場次、座位、票價、金額及取票方式內容是否正確，扣款成功後將產生訂單編號，始完成交易，每筆網路訂單108/4/1起系統服務費調整為每筆80元。(選擇郵寄/現場取票將於結帳時一併加入計費，選擇超商取票則於超商櫃台取票時再另行給付)。<br />
  <a href="">網路購票流程圖參考</a>
</p>

<h3>取票說明</h3>

<p>開放取票日說明：<br /></p>

<div class="table">
  <table cellpadding="0" cellspacing="0" border="1">
    <tr>
      <td>購票時程</td>
      <td>
        開演日<br />
        閉展日
      </td>
      <td>前1日</td>
      <td>前2日</td>
      <td>前3日</td>
      <td>前4日</td>
      <td>前5日</td>
      <td>前6日</td>
      <td>前7日</td>
      <td>前8日</td>
    </tr>
    <tr>
      <td>訂票日期</td>
      <td>8/10</td>
      <td>8/9</td>
      <td>8/8</td>
      <td>8/7</td>
      <td>8/6</td>
      <td>8/5</td>
      <td>8/4</td>
      <td>8/3</td>
      <td>8/2</td>
    </tr>
    <tr>
      <td>國內郵寄</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>可訂購日</td>
      <td>可訂購日</td>
      <td>可訂購日</td>
    </tr>
    <tr>
      <td>現場取票</td>
      <td></td>
      <td></td>
      <td></td>
      <td>可訂購日</td>
      <td>可訂購日</td>
      <td>可訂購日</td>
      <td>X</td>
      <td>X</td>
      <td>X</td>
    </tr>
    <tr>
      <td>超商取票</td>
      <td>開演當日<br />閉展日</td>
      <td>開演當日<br />閉展日</td>
      <td>開演當日<br />閉展日</td>
      <td>訂購日+3天後<br />取票</td>
      <td>訂購日+3天後<br />取票</td>
      <td>訂購日+3天後<br />取票</td>
      <td>訂購日+3天後<br />取票</td>
      <td>訂購日+3天後<br />取票</td>
      <td>訂購日+3天後<br />取票</td>
    </tr>
  </table>

  <p></p>
</div>

<h3>
  內郵寄說明(108/4/1起系統服務費調整為每筆80元)
</h3>

<p>
  1. 可訂票日期：限訂購演出前5日以上之節目(不含演出當日)，例:8/10
  19:30演出的節目，8/5 00:00開始不提供國內郵寄。
  <br />
  2.
  系統服務費：每筆訂單NT80元，(每筆訂單皆需收取，請務必確認您所要購買的節目皆選購完畢後，再執行結帳，以免重複支付系統服務費)
  。(特殊活動例外:如海外代售節目或商品販售等,
  則有不同系統服務費收費標準)以該活動實際收費為準。
  <br />3. 訂購張數限制：每人/筆
  訂單限購8張。(如有調整請依各節目購買須知為準)<br />
  4.
  若需郵寄不同地點，請分次訂票結帳，並分別填入您要寄送的地址。<系統將各別收取系統服務費NT80元>
  <br />
  5. 寄送時間：訂購成功後票券將於5-10個上班日內寄送至您的指定地址
  。<10日後若未收到票券，請務必來電07-7809900告知訂單編號以供查詢>
  <br />
  6. 郵寄地址注意事項：請確實核對收件人 /
  收件地址資料，如收發處為公司行號或大樓管理處，請務必確認該收發單位能確保將您的信件確實轉達給您本人，若因該收發處人為疏失導致票券遺失或因個人疏失資料填寫錯誤，恕無法提任何補救措施！若信件退件將不另行寄送，更改為「現場取票」。
</p>

<h3>現場取票說明(108/4/1起系統服務費調整為每筆80元)</h3>

<p>
  1. 可訂票日期：限訂購演出前3-5日之節目(不含演出當日)，如8/10
  19:30演出的節目，8/8 00:00開始不提供現場取票。
  (備註：現場取票收單期限/本公司仍保有因現實狀況而隨時調整收單與否權利。)
  <br />
  2.
  系統服務費：每筆訂單NT80元，(每筆訂單皆需收取，請務必確認您所要購買的節目皆選購完畢後，再執行結帳，以免重複支付系統服務費)
  <br />3. 訂購張數限制：每人/筆 訂單限購8張。(如有調整請依各節目購買須知為準)
</p>

<p>
  4.
  取票時間/方式：開演前60分鐘開放領取，取票人請攜帶1.訂單編號，2.購票人身份證明(同會員帳號之證件，僅限正本：身份證、健保卡或護照擇一)，3.信用卡正本(非刷卡者免)，以供核對身份。
  <br />
  5.
  取票需知：部分時候節目開演前的取票人數眾多，建議取票人至少提前1小時至現場取票，以免耽誤入場時間。
  若現場因取票流量過大導致任何狀況，購票人將需承擔延後領票風險。
  若在節目演出後仍未領取票券，導致權益受損，將無法據此主張退費。(注意：遲到入場須遵守館方進場規則)
</p>

<h3>超商取票說明</h3>

<p>
  <a href="">萊爾富取票流程</a>、<a href="">OK超商取票流程</a>
  ※任選此兩家超商門市皆可領取※
</p>

<p>
  1. 可訂票日期:
  基本上為訂購日+3天=可取票日，但訂購演出前2日內之節目，如8/8-8/10訂購8/10
  19:30演出的節目，則於8/10 19:30開演當日方可取票。
  (建議至少於演出前2小時完成取票以免延誤入場時間)
  <br />
  2.
  可取票時間：完成繳款成立訂單第4天開始至演出當日皆可領取(例：4/1訂購，4/4起可取票)，訂購日+3天=可取票日
  (特殊節目除外請依該節目內公告為主)。
  特殊情況：於演出前3日內至演出當日(演出日-3=訂購日)才完成網路訂票者，請於演出當天00:01開始皆可至超商取票，敬請留意。
  <br />
  3.
  取票地點/方式：請至「萊爾富Life-ET」或「OK超商OK-go」任一門市機台選擇【寬宏購取票】，輸入「身分證字號(網路會員登入帳號)」與「取票號碼(共11碼，請將訂單編號15碼的前4碼拿掉即可)」取得「取票憑證」後，並於10分鐘之內至櫃檯交付憑證並領取正式票券。
  『取票小技巧：帳號為隱藏碼，輸入完畢可點選帳號欄右方"眼睛"圖案確認其資訊』
  <br />
  4.
  系統服務費：每筆訂單NT50元，取票時於超商櫃檯支付。(每筆訂單皆需收取，請務必確認您所要購買的節目皆選購完畢後，再執行結帳，以免重複支付系統服務費)
  <br />5. 訂購張數限制：每筆訂單限4張，每人限購8張。<br />6.
  逾期未取票者視同售出如已不符合退票期限，恕不接受退換票辦理。
</p>

<h3>電子票券說明 (需下載 寬宏售票系統 手機APP)</h3>

<p>
  寬宏售票系統 提供 iOS 及 Android 系統行動用戶專屬 App
  ，進行行動購票及取票使用。
</p>

<p>
  1. APP 下載方式：請進入 App Store(iOS) 或 Google play(Android)
  商店，輸入「寬宏售票系統」搜尋下載。
  <br />
  2. 如何確認收到票券：手機用戶可於訂單完成後，往手機App
  中「我的票券」項目→『已取電子票券』選項內確認票券。
  <br />
  3. 入場/使用
  需知：前往觀賞活動前，請保持(1)行動網路有效連線(2)手機電量足夠(3)「寬宏售票系統」手機
  APP 正常運作，入場時得以出示該活動之電子票券
  QRcode，由現場工作人員驗證無誤後即可入場，請事先確認手機狀態以免影響您的入場權益。（請注意：入場驗證僅接受原版電子票券
  QR code，照片截圖或列印等方式皆不受理）
  <br />4. 系統服務費：使用手機 App 取票，目前暫不收取系統服務費。<br />
  5. 退票方式：電子票券相關退票辦法，請參考網站
  中「購取票方式」項目→「退票方式」選項內確認。
  <br />
  6.
  電子票券依各節目型態而定，並非每一節目均有開放。逾期未使用票券者或不符合退票規則者，恕不接受退換票或退費主張。
</p>
