<div class="full">
  <div class="mi close" (click)="showBox.emit(false)">
    close
  </div>
  <div class="content">
    <div class="title">
      <div class="line"></div>
      <span>公告</span>
      <div class="line"></div>
    </div>

    <div class="video">
      <iframe
        src="https://www.youtube.com/embed/3AtDnEC4zak"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="footer">
      <div class="line long"></div>
      <div class="line"></div>
    </div>
  </div>
</div>
