<div class="content-bg"></div>

<div class="head">
  <h1 class="limit">{{ title }}</h1>
  <h4 class="limit">主辦：宏基資訊股份有限公司</h4>
  <div class="image" [style.backgroundImage]="'url(' + image + ')'"></div>
  <div class="order">
    <div class="limit">
      <!-- <app-selector [optionals]="menu" class="ss-show"></app-selector> -->
      <h3 class="f1">{{ range }}</h3>
      <div class="buttons f1">
        <button
          (click)="tableType = 'seat'"
          [class.active]="tableType == 'seat'"
        >
          活動場次
        </button>
        <button
          (click)="tableType = 'package'"
          [class.active]="tableType == 'package'"
        >
          套票場次
        </button>
      </div>
    </div>
  </div>
</div>

<div class="limit">
  <div class="flex main">
    <!-- <d-menu class="ss-hide f0"></d-menu> -->
    <div class="content">
      <app-table [type]="tableType"></app-table>
      <button class="more" (click)="seeMore()">看更多場次</button>
      <d-menu></d-menu>
      <div class="share flex">
        <i class="fab fa-line"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fas fa-link"></i>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
