<h3>購票常見問題</h3>

<h4>1. 網路購票不想用信用卡可以嗎?</h4>
<p>
  本系統目前所提供的網路購票的支付方式為信用卡方式付款及ATM轉帳，如需現金購票可至超商或售票端點以現金方式購票。
</p>

<h4>2. 網路扣款為何失敗 ?</h4>
<p>
  (1) 請確認信用卡有效期限輸入是否正確。<br />
  (2)
  如在與銀行端授權過程中發生當機、網路通訊中斷、或關閉授權視窗時，將無法完成扣款。<br />
  (3)
  可能是信用卡授權發生問題，例如額度不足、尚未開卡等因素，詳情請洽詢發卡銀行。
</p>

<h4>3. 提供信用卡折扣之節目，使用該信用卡結帳卻無折扣原因 ?</h4>
<p>
  可能是未完全執行以下兩個訂購步驟，導致無法享有折扣。<br />
  (1) 未於票價欄位中選擇優惠折扣方案。<br />
  (2) 在結帳時沒有使用符合該折扣之銀行信用卡(含卡別)。
</p>

<h4>4. 網路購票為何無法點選座位 ?</h4>
<p>
  (1) 請確認是否連結網路。<br />
  (2) 請確認瀏覽器版本為：Microsoft Internet Explorer (IE)：IE9以上版本。 Google
  Chrome：Google Chrome 38以上版本。 Mozilla Firefox：Firefox 27以上版本。<br />
  (3) 請確認已成功登入會員。<br />
  (4) 請確認有選擇票別或折扣。<br />
  (5)
  請確認是選擇白色空格，黃色人像代表「座位已售出」，紅色鎖圈代表「座位已被選擇」，灰色代表「保留不出售」。<br />
  (6) 若仍無法完成購票程序，建議改用傳真刷卡購票或前往超商( [萊爾富
  Life-ET]、[OK超商 OKgo] )選購。<br />
</p>

<h4>5. 選擇座位放入購物車後卻發生不能結帳原因</h4>
<p>
  在未完成結帳前，該座位仍屬開放訂位狀態，如有其他會員選擇該座位並提早一步進行結帳，該座位將屬於最早結帳會員所有，此時建議您再挑選其他白色空格座位即可。建議如果遇到熱門節目請儘快結帳。
</p>

<h4>6. 如何得知網路訂票是否成功?</h4>
<p>
  系統出現訂單編號即表示訂單已成立。同時，系統亦會寄出「訂單成立通知函」到所註冊的電子信箱。為避免電子信件遺漏寄達，建議您至「訂單查詢」中查詢進行訂單記錄查詢，若查詢到該筆訂單，表示訂單已交易成功。
</p>
<h4>7. 傳真訂票如何確認訂購成功 ?</h4>
<p>
  使用傳真方式訂購票券者，請務必於服務時間來電「寬宏售票KHAM
  Ticket」07-7809900確認傳真是否成功。遇到熱門演出活動開賣(本系統保有開放傳真訂票服務與否的權利)。
</p>
<h4>8. 我買的節目可否重複折扣?</h4>
<p>
  很抱歉，各折扣限選一種，無法重複優惠。您可依照您的身份以及購買節目之最低折扣來做選擇。提醒您，每筆訂單限使用一組信用卡號結帳。若您欲購買多場節目，而這些節目分別需使用不同信用卡才得以享有折扣，請您分開結帳，以符合信用卡號認證。
</p>
<h4>9. 網路訂票是否可開立購票證明?</h4>
<p>
  ●選擇超商票券：請訂票後7日內郵寄掛號回郵信封。(內附訂單編號/姓名/電話/抬頭/統編，寄至高雄市鳳山區青年路二段371號2樓索取開立購票證明，超過7日恕不補開)<br />
  ●選擇郵寄票券：請訂購完票券後，立即來電07-7809900索取。(購票證明隨票券將於隔日早上寄出，請於票券寄出前來電索取，票券寄出後恕不補開)<br />
  ●選擇現場取票：請訂購完票券後，立即來電07-7809900索取。(購票證明隨票券將於隔日早上寄往現場領取，請於票券寄出前來電索取，票券寄出後恕不補開)
</p>
