@import "../../../theme.scss";
:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.limit {
  border: 2px solid $opacityBorder;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  margin-top: 3rem;
  background: $opacityWhite;
  position: relative;
  padding-top: 0;
  @media screen and (max-width: 640px) {
    margin-top: 0;
    border: none;
    border-radius: 0;
  }
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
  margin: 0 -4vmin;
  padding: 1rem 4vmin 0;
}

ul {
  display: flex;
  margin: 0 -4vmin;
  padding: 0 2vmin;
  overflow: hidden;
  overflow-x: auto;
  border-bottom: 1px solid $opacityBorder;
  &::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;
    display: none !important;
  }
}

li {
  text-align: center;
  cursor: pointer;
  color: $grey;
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0 1vmin;
  margin: 0 2vmin;
  margin-bottom: -2.5px;
  white-space: nowrap;
  &.active {
    color: #000;
    border-bottom: 5px solid $main;
  }
  @media screen and(max-width:960px) {
    flex: 1 1 auto;
    text-align: center;
  }
}

h3 {
  color: $main;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.content {
  padding: 2rem 2vw;
}

p {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.table {
  width: 100%;
  overflow: auto;
  table {
    font-size: 0.8rem;
    td {
      white-space: nowrap;
      padding: 0.5rem;
    }
  }
}
a {
  display: inline-block;
}
