<div class="box">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <th>時間</th>
      <th>地點</th>
      <th>名稱</th>
      <th>票價</th>
      <th>購票</th>
    </tr>
    <tr>
      <td>
        <span>2018-01-12 (二) 19:30</span>
      </td>
      <td>
        <div class="mi">location_on</div>
        台中國家歌劇院中劇院
        <div class="memo">備註欄位</div>
      </td>
      <td>
        <span>幾米音樂劇(時光電影院)</span>
        <div class="memo">備註欄位</div>
      </td>
      <td class="price">
        <div class="flex">
          <a class="sellout">1000</a> <a class="sellout">2000</a>
          <a class="sellout">3000</a><a>1000</a> <a>2000</a> <a>3000</a
          ><a>1000</a> <a>2000</a> <a>3000</a><a class="fake">2000</a>
          <a class="fake">3000</a><a class="fake">1000</a>
          <a class="fake">2000</a> <a class="fake">3000</a>
        </div>
      </td>
      <td>
        <button (click)="gotoCart()">購買</button><span>剩餘張數：100</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>2018-01-12 (二) 19:30</span>
      </td>
      <td>
        <div class="mi">location_on</div>
        台中國家歌劇院中劇院
        <div class="memo">備註欄位</div>
      </td>
      <td>
        <span>幾米音樂劇(時光電影院)</span>
        <div class="memo">備註欄位</div>
      </td>
      <td class="price">
        <div class="flex">
          <a class="sellout">1000</a> <a class="sellout">2000</a>
          <a class="sellout">3000</a><a>1000</a> <a>2000</a> <a>3000</a
          ><a>1000</a> <a>2000</a> <a>3000</a><a class="fake">2000</a>
          <a class="fake">3000</a><a class="fake">1000</a>
          <a class="fake">2000</a> <a class="fake">3000</a>
        </div>
      </td>
      <td>
        <button [disabled]="true">已完售</button><span>剩餘張數：100</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>2018-01-12 (二) 19:30</span>
      </td>
      <td>
        <div class="mi">location_on</div>
        台中國家歌劇院中劇院
        <div class="memo">備註欄位</div>
      </td>
      <td>
        <span>幾米音樂劇(時光電影院)</span>
        <div class="memo">備註欄位</div>
      </td>
      <td class="price">
        <div class="flex">
          <a class="sellout">1000</a> <a class="sellout">2000</a>
          <a class="sellout">3000</a><a>1000</a> <a>2000</a> <a>3000</a
          ><a>1000</a> <a>2000</a> <a>3000</a><a class="fake">2000</a>
          <a class="fake">3000</a><a class="fake">1000</a>
          <a class="fake">2000</a> <a class="fake">3000</a>
        </div>
      </td>
      <td>
        <button [disabled]="true">暫停銷售</button><span>剩餘張數：100</span>
      </td>
    </tr>
    <tr>
      <td>
        <span>2018-01-12 (二) 19:30</span>
      </td>
      <td>
        <div class="mi">location_on</div>
        台中國家歌劇院中劇院
        <div class="memo">備註欄位</div>
      </td>
      <td>
        <span>幾米音樂劇(時光電影院)</span>
        <div class="memo">備註欄位</div>
      </td>
      <td class="price">
        <div class="flex">
          <a class="sellout">1000</a> <a class="sellout">2000</a>
          <a class="sellout">3000</a><a>1000</a> <a>2000</a> <a>3000</a
          ><a>1000</a> <a>2000</a> <a>3000</a><a class="fake">2000</a>
          <a class="fake">3000</a><a class="fake">1000</a>
          <a class="fake">2000</a> <a class="fake">3000</a>
        </div>
      </td>
      <td>
        <button [disabled]="true">尚未啟售</button
        ><span>2019/12/31 12:00 起售</span>
      </td>
    </tr>
  </table>
</div>
