@import "../../../../theme.scss";
:host {
  text-align: center;
  padding: 5px;
}
.hint {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: $grey;
  display: flex;
  height: 2rem;
  margin: 1rem;
  white-space: nowrap;
  img {
    margin-right: 0.5rem;
  }
  justify-content: center;
  align-items: center;
}
.map {
  text-align: center;

  img {
    max-width: 600px;
    width: 100%;
  }
}
area {
  outline: 3px solid #000;
}

.flex {
  justify-content: space-between;
  .mi {
    color: $grey;
    margin-right: 0.5rem;
  }
}
.hide {
  visibility: hidden;
}
