@import "../../../../../theme.scss";
:host {
  display: block;
  position: relative;
}
.full {
  background: $tools;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  user-select: none;
}

.calendar {
  position: absolute;
  top: calc(3rem + 2.5vmin);
  left: 0;
  transition: all 0.5s;
  z-index: 1;
}

.month {
  font-size: 1.2em;
  margin-left: 5px;
}
