<p>
  有鑒於網路拍賣風氣盛行，有許多來路不明的票券在拍賣網站或二手網站出售競標，但這些票券來源不明、真偽難辨、高價標售，票務糾紛層出不窮，這些網站皆架設在國外，有任何的消費糾紛消費者往往求助無門。為確保您的權益，懇請觀眾切勿於拍賣網站或是其他非正式授權售票之管道購票，如發生無法進場或其他損害個人權益之事宜，本售票系統恕不負責。
</p>

<p>
  (1)加入會員：為加速您的訂票速度，請於訂票前一日加入 寬宏售票網會員(免付費)
</p>

<p>
  (2)進行購票：請於付款前再次確認您所訂購的場次票價是否正確，付款完成之訂單代表已售出，您已同意支付本次交易的費用，為避免重複訂票請至【訂單查詢】核對訂購內容查詢訂單是否成功，一旦訂單成立，即不得以任何理由拒付本次交易費用。(如需退票，須依各節目「購買須知」退票規則辦理。)
</p>

<p>
  (3)選擇付款方式：
</p>

<p>
  (刷卡付款)-信用卡僅限VISA、MasterCard、JCB（無法使用AE、大來卡、銀聯）購票前請先確認信用卡額度是否足夠，刷卡資料送出前請檢查是否正確，進入刷卡頁面後，請勿點選上一頁或是關閉刷卡頁面，避免刷卡失敗。交易成功者銀行會直接自消費者指定之信用卡扣款。
  如持國民旅遊卡於寬宏售票系統訂購票券完成訂單者，請於購票日後七日內填妥相關資料並詳讀注意事項後，將此表格(國民旅遊卡網路預購型交易登錄表)回傳07-7805353或e-mail至khamtw@gmail.com寬宏客服信箱，由寬宏票務協助完成登錄事宜(作業時間需5個工作天)。
</p>

<p>
  (ATM轉帳)-請您務必於指定期間內完成付款，自民國107年6月15日起，如訂票後未如期付款之情況累積達兩次(包含兩次)，為保障其他會員權益本售票系統有權暫停您選擇ATM轉帳付款方式的權利。
</p>

<p>
  (4)選擇取票方式:
  郵寄取票、超商取票、現場取票、APP電子票券。依各節目而定，並非每一節目均有。(108/4/1起郵寄取票及現場取票系統服務費調整為每筆80元)
</p>

<p>
  (5)退票方式:
  由各節目主辦單位就以下四方案擇一公告，關於各節目採用之退票方案及相關退票流程，請參考各節目頁面購票須知說明。
</p>

<p>
  依文化部於中華民國107年5月16日文藝字第10710128232號公告修定之『藝文表演票券定型化契約應記載及不得記載事項』第六條退換票機制，主辦單位可依藝文表演之性質，就以下4種方案擇一公告，作為退(換)票之處理機制：若購買套票，退換票亦需整個套票退票，無法退單張票券。
</p>

<p>
  方案一：退(換)票應於演出日前10日(不含演出日)；手續費為票面金額10%。
</p>

<p>方案二：退(換)票應於購買票券後3日內(不含購票日)；手續費為票面金額5%。</p>

<p>
  方案三：退(換)票應於演出日前20日(不含演出日)；手續費為票面金額10%。
</p>

<p>
  方案四：採級距式(不含演出日)之退(換)票處理規範。
</p>

<p>
  1、演出日前第31日前辦理退(換)票者，手續費為票面金額10%。<br />
  2、演出日前第11日至第30日內辦理退(換)票者，手續費為票面金額30%。<br />
  3、演出日前第3日至第10日內辦理退(換)票者，手續費為票面金額50%。<br />
  4、演出當日至演出日前第2日內辦理退(換)票者，業者得不予退、換票。<br />
</p>

<p>
  另依據中華民國107年5月16日文藝字第10710128232號公告修定之「藝文表演票券定型化契約應記載及不得記載事項」第六條規定：「企業經營者應提供藝文表演票券退、換票機制並詳加說明。但非供自用，購買票券而轉售圖利者，企業經營者得不予退、換票。」如相關資料顯示有任何違反該條之規定時，本公司及本售票系統保有不受理退、換票之權利。註:系統服務費、取票手續費、轉帳手續費及寄回郵資非屬票價部分不在退費範圍之內。
</p>
