<table>
  <tr>
    <!-- <td>
      <label>
        <span class="mi">search</span
        ><input type="text" placeholder="訂單編號" />
      </label>
    </td> -->
    <td style="width:100%;">
      <label>
        <span class="mi">event_note</span>
        <div class="muti-input">
          <span (click)="showCalendar1 = !showCalendar1; showCalendar2 = false"
            >{{ startDate ? startDate.format("YYYY-MM-DD") : "開始日期" }}
          </span>
          <span>-</span>
          <span (click)="showCalendar2 = !showCalendar2; showCalendar1 = false"
            >{{ endDate ? endDate.format("YYYY-MM-DD") : "結束日期" }}
          </span>
        </div>
        <app-calendar
          class="calendar"
          (select)="startDate = getDate($event)"
          (mouseleave)="showCalendar1 = false"
          *ngIf="showCalendar1"
        ></app-calendar>
        <app-calendar
          class="calendar"
          (select)="endDate = getDate($event)"
          (mouseleave)="showCalendar2 = false"
          *ngIf="showCalendar2"
        ></app-calendar>
      </label>
    </td>
    <td>
      <button class="range">近一個月</button>
      <button class="range">近三個月</button>
    </td>

    <td><button>搜尋</button></td>
  </tr>
</table>

<p>若您若您查詢期間的訂單超過100筆，系統將無法完全顯示</p>

<div class="hr"><span>最近五筆訂單</span></div>

<app-order></app-order>
<app-order type="seatInfo"></app-order>
<app-order type="package"></app-order>
