<table>
  <tr>
    <td>
      <label>
        <span class="mi">search</span
        ><input type="text" placeholder="訂單編號" />
      </label>
    </td>
    <td>
      <label>
        <span class="mi">event_note</span>
        <div class="muti-input">
          <span (click)="showCalendar1 = !showCalendar1; showCalendar2 = false"
            >{{ startDate ? startDate.format("YYYY-MM-DD") : "開始日期" }}
          </span>
          <span>-</span>
          <span (click)="showCalendar2 = !showCalendar2; showCalendar1 = false"
            >{{ endDate ? endDate.format("YYYY-MM-DD") : "結束日期" }}
          </span>
        </div>
        <app-calendar
          class="calendar"
          (select)="startDate = getDate($event)"
          (mouseleave)="showCalendar1 = false"
          *ngIf="showCalendar1"
        ></app-calendar>
        <app-calendar
          class="calendar"
          (select)="endDate = getDate($event)"
          (mouseleave)="showCalendar2 = false"
          *ngIf="showCalendar2"
        ></app-calendar>
      </label>
    </td>
    <td><button>搜尋</button></td>
  </tr>
</table>

<div class="hr"><span>搜尋結果</span></div>

<app-order></app-order>
<app-order type="seatInfo"></app-order>
<app-order type="package"></app-order>
