<table cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <label>
        <span class="mi">search</span
        ><input type="text" placeholder="關鍵字" [(ngModel)]="keyword" />
      </label>
    </td>
    <td>
      <label>
        <span class="mi">event_note</span>
        <div class="muti-input">
          <span (click)="showCalendar1 = !showCalendar1; showCalendar2 = false"
            >{{ startDate ? startDate.format("YYYY-MM-DD") : "開始日期" }}
          </span>
          <span>-</span>
          <span (click)="showCalendar2 = !showCalendar2; showCalendar1 = false"
            >{{ endDate ? endDate.format("YYYY-MM-DD") : "結束日期" }}
          </span>
        </div>
      </label>
      <app-calendar
        class="calendar"
        [date]="startDate"
        (select)="startDate = getDate($event)"
        (mouseleave)="showCalendar1 = false"
        *ngIf="showCalendar1"
      ></app-calendar>
      <app-calendar
        class="calendar"
        [date]="endDate"
        (select)="endDate = getDate($event)"
        (mouseleave)="showCalendar2 = false"
        *ngIf="showCalendar2"
      ></app-calendar>
    </td>
    <td>
      <button
        [routerLink]="['../', 'search']"
        [queryParams]="{ keyword: keyword }"
      >
        搜尋
      </button>
    </td>
  </tr>
</table>

<div class="hr"><span>搜尋結果</span></div>

<div class="cards" (window:resize)="(viewport)" *ngIf="search">
  <app-card
    *ngFor="let card of cards; index as idx"
    [image]="card.image"
    [title]="card.title"
    [text]="card.text"
    [class.row]="isSingle(idx, cards.length)"
  ></app-card>
</div>
