<h3>加入會員問題</h3>

<h4>1. 網路購票是否需加入會員 ?</h4>
<p>
  本系統乃採會員制，購票前請先加入會員，並請先詳閱服務條款及隱私權聲明。請點選「寬宏售票KHAM
  Ticket」首頁「加入會員」頁面，填寫相關基本資料、經過電子信箱 (email)
  認證後，即完成加入會員動作並可享有會員服務。如不想加入會員可採超商現金購票。
</p>

<h4>2. 忘記密碼如何查詢 ?</h4>
<p>
  請於「寬宏售票KHAM
  Ticket」首頁上方「會員專區」，點選「忘記密碼」填寫相關資料後，系統將於5-10分鐘寄送通知信函至該註冊電子信箱
  (email)中。如有重複收到通知信件，以最後一封為準，若仍無法收到信件，請至垃圾信箱查詢是否被歸類至垃圾信件。
</p>
<p>
  提醒您!!!本售票系統之會員密碼需每三個月重新設定，購票前2日建議先行登入會員確認是否需更新密碼，以免耽誤您日後的購買權益
</p>

<h4>3. 如何修改個人資料 ?</h4>
<p>
  請於「寬宏售票KHAM
  Ticket』首頁上方「會員專區」登入會員後，點選「會員服務>修改資料」，即可進行個人資料修改。
</p>
<h4>
  4.
  為什麼我收不到會員通知函、會員認證信、忘記密碼通知信、下單成功通知函、付款完成通知信？
</h4>
<p>可能有以下幾個原因：</p>
<p>
  (1) 在申請會員時註冊之電子信箱 (email)
  資料輸入錯誤，請至「會員服務>修改資料」，再次確認信箱使否有誤，並請修改為正確電子信箱
  (email) 。 <br />
  (2)
  郵件收件主機的安全機制不同，可能會有延遲的情況發生，建議可於15分鐘後再次檢查信件是否寄達。<br />
  (3)
  認證信被您的郵件系統誤判為垃圾信，請至「垃圾信件」匣中找尋看看，另建議將寬宏售票系統Email
  (mailnotify@khmail.com.tw)及客服信箱Email(khamtw@gmail.com)加入郵件通訊錄或列為信件白名單，減少被郵件伺服器判定為垃圾郵件的機會。<br />
  (4)
  若需確認訂單是否成功，請於會員服務中查詢訂單記錄，若查詢到該筆訂單，表示您訂單已交易成功。
</p>

<h4>5. 如何重新寄送會員認證信？</h4>
<p>
  請先登入會員後，點選網頁右上方，會員姓名左側的
  (信箱ICON圖示)，即可重新發送會員認證通知函與更新信箱狀態。<如是使用免費信箱無法收到認證信件,建議更換其他信箱申請>
</p>

<h4>6. 如何確認完成申請會員 ?</h4>
<p>
  請先登入會員後，網頁右上方，會員姓名左側的(信箱ICON圖示)
  即完成加入會員流程，可進行後續購票流程。
</p>

<h4>7. 無法申請會員成功 ?</h4>
<p>
  (1)
  如出現”帳戶重複申請”，可能是您之前已加入過會員，本售票帳號、手機號碼、電子信箱皆不可重複使用。<br />
  (2)
  如仍無法順利申請會員成功，請撥打客服專線：(07)7809900。或留言至客服信箱khamtw@gmail.com由專人為您協助處理。<br />
  (3) 可能是電腦問題若仍無法短時間內排除，建議您使用傳真訂票或超商購票方式。
</p>

<h4>8. 海外人事如何申請加入會員 ?</h4>
<p>請選擇居住地為"海外人士"，並詳填會員資料。(請填寫護照號碼)。</p>
