<div class="footer" (window:resize)="(viewport)">
  <div class="limit padding content">
    <div class="link">
      <a (click)="routerTo('/about/us')">關於我們</a>
      <a (click)="routerTo('/about/privicy')">隱私權政策</a>
      <a (click)="routerTo('/about/service')">服務條款</a>
      <a (click)="routerTo('/QA/buy-way')">常見問題</a>
    </div>
    <div class="contact">
      <div class="sns twitter"><i class="fab fa-twitter"></i></div>
      <div class="sns instgram"><i class="fab fa-instagram"></i></div>
      <div class="sns facebook"><i class="fab fa-facebook-f"></i></div>
      <div class="subscribee">
        <input
          type="text"
          [placeholder]="viewport.width > 700 ? 'Enter Your Email' : 'Email'"
          [class.small]="viewport.width <= 700"
        />
        <button>
          {{ viewport.width > 700 ? "訂閱電子報" : "" }}
          <i class="fas fa-rss" *ngIf="viewport.width <= 700"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="limit" [class.padding]="viewport.width <= 640">
      <div class="app flex">
        <img src="assets/qrcode.png" alt="" />
        <i class="fab fa-apple"></i>
        <i class="fab fa-google-play"></i>
        <span>購票、入場、轉送<br />APP 一指搞定</span>
      </div>
      <div class="addr f1">
        <span>Toll-free:1 800 XXX XXX (9 am~6 pm)</span>
        <span>E-Mail: Service@abc.com E-News Registration</span>
        <span>Copyright © 2018 ABC Inc. All rights reserved</span>
      </div>
      <div class="secure f0">
        <img src="assets/secure.svg" alt="" />
      </div>
    </div>
  </div>
</div>
