<h3>
  傳真刷卡購票：信用卡付費 (JCB、VISA、MASTER、聯合信用卡)
  (108/4/1起系統服務費調整為每筆80元)
</h3>

<p>
  1.
  傳真刷卡訂購單與網路訂單相同，處理方式為每筆傳真訂單視同個別單一訂單，皆需收取系統服務費NT50元，請務必確認當日您所要購買的節目皆選購完畢後，再執行傳真刷卡訂票，以免重複支付
  系統服務費。(108/4/1起系統服務費調整為每筆80元)
  <br />
  2. 採傳真刷卡購票者僅限本人購票/ 訂購人、收件人或取票人及刷卡人必須為同一人。
  <br />
  3.
  傳真後務必敬請於服務時間來電確認是否傳真成功，服務專線：(07)7809900，傳真處理服務時間：週一至週五09:30-17:00，傳真購票均以收件順序處理，若為當日17:00以後之傳真，將隔日處理，本公司不保證傳真成功便絕對能購得票券，且保有接受訂票與否的權利。
</p>

<h3>訂票日期：限訂購距演出前5日以上之節目</h3>
<p>
  1. 取票方式: 限國內掛號郵寄。<br />
  2. 系統服務費:每筆訂單
  NT80元，恕無法提供選位。(特殊活動例外:如海外代售節目或商品販售等,
  則有不同系統服務費收費標準)
  <br />3. 若需郵寄不同地點，請分次傳真，每筆訂單皆需收取系統服務費 NT80元。<br />
  4. 傳真後請來電
  (07)7809900確認是否傳真成功，票券將於7個工作天內寄送至您的指定地址
  。<5日內若未收到票券，請務必來電07-7809900查詢>。
</p>

<h3>訂票日期：限訂購距演出前3-5日內之節目</h3>
<p>
  1. 取票方式: 當日演出現場取票(備註:
  現場取票收單期限/本公司仍保有因現實狀況而隨時調動收單與否權利。)
  <br />2. 系統服務費:每筆訂單NT80元。<br />
  3.
  開放取票時間/方式/地點：開演前60分鐘開放領取，請出示訂購人本人身分證件至現場服務台取票。(如一筆訂單中有訂兩場以上票券，以該筆訂單中最先演出場次當日現場同時領取該筆訂單所有票券，逾時逾期未取票者視同售出，恕不接受任何理由之退換票要求）
  <br />
  4.
  大型節目開演前的取票人數眾多，建議您提前現場取票，以免耽誤您的入場時間。若現場因取票流量過大導致任何狀況，您將承擔延後領票之風險。若您在節目演出後仍未領取票券，導致您的權益受損，您將無法據此主張退費。
  (遲到入場須遵守館方進場規則)
</p>
