<h1>幾米音樂劇《時光電影院》</h1>
<h4>
  <p class="word">套票說明</p>
  <div class="choice">
    <br /><br />
    <div class="flex count">
      <h3>請選擇套數：</h3>
      <div class="checkbox">
        <div class="flex">
          <div class="mi" (click)="ticketLength = ticketLength - 1">remove</div>
          <input
            type="number"
            placeholder="套票數量"
            [(ngModel)]="ticketLength"
          />
          <div class="mi" (click)="ticketLength = ticketLength + 1">add</div>
        </div>
        <div class="flex" (click)="noContinuous = !noContinuous">
          <i class="mi">{{
            noContinuous ? "check_box" : "check_box_outline_blank"
          }}</i>
          電腦配未接受不連號
        </div>
      </div>
      <div class="hr"></div>
    </div>
  </div>
</h4>
<h2>A.需任選1張以上</h2>
<table class="packages" cellpadding="0" cellspacing="0">
  <tr>
    <th class="align-left">節目名稱</th>
    <!-- <th>場次時間</th> -->
    <!-- <th>價位</th> -->
    <th>繼續選購</th>
  </tr>
  <tr>
    <td class="align-left" data-title="節目名稱">
      2018TIFA－呂紹嘉與NSO《馬勒第七》
    </td>

    <td>
      <button (click)="lightBox.showGroup = true; lightBox.showBlur = true">
        場次及票價
      </button>
    </td>
  </tr>
  <tr>
    <td class="align-left" data-title="節目名稱">
      2018TIFA 克莉絲朵．派特X強納森．楊《愛與痛的練習曲》
    </td>

    <td>
      <button (click)="lightBox.showGroup = true; lightBox.showBlur = true">
        場次及票價
      </button>
    </td>
  </tr>
  <tr>
    <td class="align-left" data-title="節目名稱">
      2018TIFA 碧娜．鮑許烏帕塔舞蹈劇場《康乃馨》
    </td>

    <td>
      <button (click)="lightBox.showGroup = true; lightBox.showBlur = true">
        場次及票價
      </button>
    </td>
  </tr>
</table>

<div class="select">
  <h3>已選擇場次：</h3>
  <ul>
    <li>
      <div class="flex f1">
        2018TIFA 碧娜．鮑許烏帕塔舞蹈劇場《康乃馨》
        <span>2018-08-26 18:30</span>
        <span>數量：1</span>
        <span>NT$ 500</span>
        <span></span>
      </div>
      <div class="mi">delete</div>
    </li>
  </ul>
</div>

<h2>B.需任選2張以上</h2>
<table class="packages" cellpadding="0" cellspacing="0">
  <tr>
    <th>節目名稱</th>
    <!-- <th>場次時間</th> -->
    <!-- <th>價位</th> -->
    <th>繼續選購</th>
  </tr>
  <tr>
    <td class="align-left" data-title="節目名稱">
      2018TIFA－呂紹嘉與NSO《馬勒第七》
    </td>

    <td>
      <button (click)="lightBox.showGroup = true; lightBox.showBlur = true">
        場次及票價
      </button>
    </td>
  </tr>
  <tr>
    <td class="align-left" data-title="節目名稱">
      2018TIFA 克莉絲朵．派特X強納森．楊《愛與痛的練習曲》
    </td>

    <td>
      <button (click)="lightBox.showGroup = true; lightBox.showBlur = true">
        場次及票價
      </button>
    </td>
  </tr>
  <tr>
    <td class="align-left" data-title="節目名稱">
      2018TIFA 碧娜．鮑許烏帕塔舞蹈劇場《康乃馨》
    </td>

    <td>
      <button (click)="lightBox.showGroup = true; lightBox.showBlur = true">
        場次及票價
      </button>
    </td>
  </tr>
</table>

<div class="select">
  <h3>已選擇場次：</h3>
  <ul>
    <li>
      <div class="flex f1">
        2018TIFA 碧娜．鮑許烏帕塔舞蹈劇場《康乃馨》
        <span>2018-08-26 18:30</span>
        <span>數量：1</span>
        <span>NT$ 500</span>
        <span></span>
      </div>
      <div class="mi">delete</div>
    </li>
  </ul>
</div>

<h2>C.需任選3張以上</h2>
<table class="packages" cellpadding="0" cellspacing="0">
  <tr>
    <th>節目名稱</th>
    <!-- <th>場次時間</th> -->
    <!-- <th>價位</th> -->
    <th>繼續選購</th>
  </tr>
  <tr>
    <td class="align-left" data-title="節目名稱">
      2018TIFA－呂紹嘉與NSO《馬勒第七》
    </td>
    <td>
      <button (click)="lightBox.showGroup = true; lightBox.showBlur = true">
        場次及票價
      </button>
    </td>
  </tr>
  <tr>
    <td class="align-left" data-title="節目名稱">
      2018TIFA 克莉絲朵．派特X強納森．楊《愛與痛的練習曲》
    </td>

    <td>
      <button (click)="lightBox.showGroup = true; lightBox.showBlur = true">
        場次及票價
      </button>
    </td>
  </tr>
  <tr>
    <td class="align-left" data-title="節目名稱">
      2018TIFA 碧娜．鮑許烏帕塔舞蹈劇場《康乃馨》
    </td>
    <td>
      <button (click)="lightBox.showGroup = true; lightBox.showBlur = true">
        場次及票價
      </button>
    </td>
  </tr>
</table>

<div class="select">
  <h3>已選擇場次：</h3>
  <ul>
    <li>
      <div class="flex f1">
        2018TIFA 碧娜．鮑許烏帕塔舞蹈劇場《康乃馨》
        <span>2018-08-26 18:30</span>
        <span>數量：1</span>
        <span>NT$ 500</span>
        <span></span>
      </div>
      <div class="mi">delete</div>
    </li>
  </ul>
</div>
<div class="flex addCart">
  <div class="login">
    <label *ngIf="!token.isLogin"
      ><span class="mi">person</span><input type="text" placeholder="帳號"
    /></label>
    <label *ngIf="!token.isLogin"
      ><span class="mi">lock</span><input type="password" placeholder="密碼"
    /></label>
    <div class="securiry">
      <div class="code">
        <img [src]="imgDataURL" alt="" (click)="reload()" />
      </div>
      <label class="f1">
        <span class="mi" (click)="reload()">cached</span>
        <input type="text" placeholder="驗證碼" [(ngModel)]="verificationValue"
      /></label>
    </div>
  </div>
  <button
    [class.active]="verificationValue.toLocaleLowerCase() == code"
    (click)="addToCart()"
  >
    {{ token.isLogin ? "" : "登入並" }}加入購物車
  </button>
</div>
