<div class="table">
  <table border="1" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td>
          <p>端點</p>
        </td>
        <td>
          <p>付款方式</p>
        </td>
        <td>
          <p>住址</p>
        </td>
        <td>
          <p>營業時間</p>
        </td>
        <td>
          <p>洽詢電話</p>
        </td>
      </tr>
      <tr>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td>
          <p>
            ◆ 萊爾富<br />
            Hi-Life
          </p>
        </td>
        <td>
          <p>現金購票</p>
        </td>
        <td>
          <p>
            門市查詢<br /><a
              href="http://www.hilife.com.tw/storeInquiry_street.aspx"
              target="_blank"
              >http://www.hilife.com.tw/storeInquiry_street.aspx</a
            >
          </p>
        </td>

        <td>
          <p>24小時</p>
        </td>
        <td>
          <a
            href="http://imgs.utiki.com.tw/Data/KHAM/Doc/%E8%90%8A%E7%88%BE%E5%AF%8C%E8%B6%85%E5%95%86%E8%B3%BC%E7%A5%A8%E6%B5%81%E7%A8%8B.htm"
            target="_blank"
            >購票流程說明</a
          >
          <a
            href="http://www.hilife.com.tw/contactUs_consumer.aspx"
            target="_blank"
            >萊爾富消費者服務聯絡方式</a
          >
        </td>
      </tr>
      <tr>
        <td>
          ◆ OK超商<br />
          OK-go
        </td>
        <td>現金購票</td>
        <td>
          <p>
            門市查詢<a
              href="http://www.okmart.com.tw/convenient_shopSearch"
              target="_blank"
              >http://www.okmart.com.tw/convenient_shopSearch</a
            >
          </p>
        </td>

        <td>24小時<br /></td>
        <td>
          <a
            href="http://imgs.utiki.com.tw/Data/KHAM/Doc/OKgo%E8%B6%85%E5%95%86%E8%B3%BC%E7%A5%A8%E6%B5%81%E7%A8%8B.htm"
            target="_blank"
            >購票流程說明</a
          >
          <a
            href="http://www.okmart.com.tw/information_contactUs"
            target="_blank"
            >OK超商消費者服務聯絡方式</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
