@import "../../../theme.scss";
:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  overflow: auto;
  color: #fff;
  background: $second;
  padding: 4rem 0;
  z-index: 10;
  width: 320px;
  box-shadow: 0 0 5px rgba(black, 0.5);
  @media screen and (max-width: 480px) {
    font-size: 6vw;
  }
}

.menu {
  min-height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

li {
  cursor: pointer;
  user-select: none;
  line-height: 3rem;
  padding: 0 2rem;
  &:not(.noHover):hover,
  &.active {
    background: $darker;
  }
  > ul {
    background: $lighter;
    width: calc(100% + 4rem);
    overflow: hidden;
    transition: all 0.25s;
    margin: 0 -2rem;
    display: flex;
    flex-wrap: wrap;
    > li {
      flex: 1 1 30%;
      padding: 0 0.5rem;
      text-align: center;
      white-space: nowrap;
      font-size: 0.9rem;
      &:hover,
      &.active {
        background: rgba($second, 0.5);
      }
    }
  }
}
.fold {
  display: flex;
  align-items: center;
}
.mi {
  font-size: 1.5rem;
  margin-right: -1rem;
}
