@import "../../../../theme.scss";
:host {
  display: block;
  padding: 2rem;
}

h3 {
  color: $main;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.table {
  width: 100%;
  overflow: auto;
  table {
    font-size: 0.8rem;
    td {
      white-space: nowrap;
      padding: 0.5rem;
    }
  }
}
a {
  display: inline-block;
}
