@import "../../theme.scss";

.full {
  overflow: auto;
}

.limit {
  background: $opacityWhite;
  border: 2px solid $opacityBorder;
  border-top: none;
  border-bottom: none;
}

.cards {
  display: flex;
  justify-content: flex-start;
  margin-right: -2vw;
  flex-wrap: wrap;
  &.nowrap {
    margin: -2vw;
    margin-left: 0;
    padding: 2vw 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    > * {
      flex: 0 0 auto;
    }
  }
}

iframe {
  display: block;
  margin: 5vw auto;
}
