@import "../../../../theme.scss";
h1 {
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h4 {
  color: $grey;
  font-weight: normal;
  > * {
    margin-top: 0.5rem;
    margin-right: 0.7rem;
  }
  button {
    font-size: 0.8rem;
    color: #fff;
    background: $facebook;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    padding: 0 0.7rem;
    border: none;
    &::before {
      border-radius: 1.5rem;
    }
  }
}
button {
  cursor: pointer;
  color: $grey;
  font-size: 1.2rem;
  border-radius: 5px;
  background: $lightGrey;
  border: none;
  padding: 0.5rem 2rem;
  margin-right: 0.5rem;
  &.active {
    color: #fff;
    background: $main;
  }
}
.choice {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 2rem 0;

  .checkbox {
    cursor: pointer;
    color: $grey;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .mi {
    font-size: 1rem;
    font-style: normal;
    margin-right: 0.2rem;
  }
}

.seats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: #fff;
  margin: -2vmin -4vmin;
  box-shadow: 0 3px 20px 0 $opacityBorder;
  > * {
    height: 100%;
    overflow: auto;
  }
  @media screen and (max-width: 960px) {
    height: auto !important;
    > * {
      width: 100%;
      height: auto !important;
    }
  }
  table {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-right: 1rem;
    padding: 5px;
    min-width: 200px;
    tr {
      cursor: pointer;
      &:hover,
      &.hover {
        background: $lightGrey;
        td {
          color: $darkGrey;
        }
      }
    }
    td,
    th {
      padding: 5px;
      white-space: nowrap;

      &:nth-child(2) {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
    th {
      font-weight: normal;
      border-bottom: 1px solid $grey;
    }
    td {
      padding: 2px 5px;
      line-height: 1.5rem;
      color: $grey;
    }
    .color {
      width: 0;
      padding: 2px;
    }
  }
  app-map {
    position: relative;
    margin: 0 auto;
  }
  @media screen and (max-width: 960px) {
    flex-direction: column-reverse;
    table {
      width: 100%;
      display: block;
      white-space: nowrap;
      overflow: auto;
      padding: 1rem;
    }
    tr {
      display: inline-block;
      border-radius: 5px;
      border: 2px solid $grey;
      margin-right: 0.5rem;
      padding: 0 0.5rem;
      &.head {
        display: none;
      }
      td {
        display: block;
        &:first-child {
          display: none;
        }
      }
    }
  }
}

.seatMap {
  margin-top: 2rem;
  > .flex {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.seat-icons {
  margin-top: 1rem;
  span {
    font-size: 0.9rem;
    margin-right: 1rem;
    align-items: center;
    img {
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}

app-seat-content {
  display: block;
  border: 1px solid $grey;
  margin-top: 1rem;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $grey;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.securiry {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 2rem 0;
  img {
    width: 6rem;
  }
  input {
    background: none;
    border: none;
    border: 1px solid $grey;
    border-radius: 5px;
    text-align: center;
    margin: 0 0.5rem;
    line-height: 2rem;
    width: 6rem;
    &::placeholder {
      color: $grey;
    }
  }
}
