<h3>ATM轉帳付款說明</h3>

<p>
  可選用ATM繳款狀態：選擇ATM轉帳付款，請您務必於設定期間內完成付款，自民國107年6月15日起，如訂票後未如期付款之情況累積達兩次(包含兩次)，本公司及本售票系統有權暫停您選擇ATM轉帳付款方式的權利。
</p>

<h4>1. 可以在銀行櫃台匯款轉帳嗎？</h4>
<p>
  不行的！請勿在銀行櫃台填單轉帳！寬宏售票系統訂單所產生個人專屬的虛擬帳號共16碼，這組帳號在銀行其他的匯款系統是無法輸入的，僅能透過ATM提款機或網路銀行轉帳功能來完成轉帳，只要帳號和金額轉帳正確就會對應訂單。(請特別注意收單行為台新銀行代號是812)
</p>

<h4>2. 訂購多筆訂單，ATM轉帳可否一次匯入同一帳號？</h4>
<p>
  由於每一筆訂單都會產生相對應的虛擬帳號，並無法提供合併訂單，因此還是需要逐筆繳款。
</p>

<h4>3. 請問ATM轉帳有受限銀行規定之當日轉帳金額的上限嗎？</h4>
<p>
  有的！因為虛擬帳號屬於非約定帳號，目前依據主管機關規範每日轉帳限額如下。
  ◎非約定轉帳：單筆3萬，每日最高3 萬。
</p>

<p>
  訂單總金額三萬元以下，消費者可選擇「轉帳」或「繳費」，兩者皆可完成付款。
  訂單總金額超過三萬元，消費者請選擇 「繳費」 完成付款。
</p>

<h4>4. 轉帳之後，如何確認這筆款項是我付的？</h4>
<p>
  轉帳帳號
  (16碼)是依據每筆訂單自動產生專屬帳號，因此每筆訂單的帳號都不一樣，只要在繳費期限內完成轉帳(收單銀行代號、帳號、金額正確)，系統於核帳期間確認有收到款項，即會判斷出是哪一筆訂單的款項已入帳。大約於轉帳1小時後於會員專區查詢是否已呈現已繳款狀態，如有疑問亦可來電07-7809900洽詢。
</p>

<h4>
  5.
  當過銀行營業時間下午3:30過後去ATM轉帳繳費時機台出現隔日才會入帳訊息時,請會有影響訂單交易嗎？
</h4>
<p>
  不受影響，本售票系統當日的訂單匯款是依據系統設定該活動當日訂單結匯時間而定，在該節目結匯時間未到前都可以轉帳，亦無需理會銀行的入帳日，並不會超過銀行營業時間就遞延繳款期限。但如果是超過該節目約定的當日繳款期限訂單將會自動取消。<br />
  2016/1/14凌晨00:10開始售票系統開放ATM付款服務的時間調整為(00:10-19:50)，此時間內完成的訂單為都可以於指定時間內轉帳，如遇超過3:30銀行營業時間後才使用ATM轉帳繳費時,機台出現隔日才會入帳訊息時並不影響款項匯入時間。但如果是超過訂單繳款期限才進行匯款訂單將會自動取消，需重新上網訂購。(特殊活動則會例外提早截止時將另行公告,則改以公告截止匯款時間為準。)
</p>

<p>
  虛擬帳號ATM繳費 說明為11:31-12:30訂單成立繳費期限為12:50。<br />
  《例一：8:31-9:30訂單成立，請在9:50前完成繳費》。<br />
  《例二：13:31-14:30訂單成立，請在14:50前完成繳費》。
</p>

<h4>6. 轉帳匯款成功但訂單不成立的原因？</h4>
<p>
  因轉帳金額與訂單應繳款金額不符(短缺或溢繳),恕訂單將無法成立,已匯入款項將以退匯方式處理。該筆訂單請勿再重覆轉帳,請再重新訂購即可!
</p>

<h4>7. 轉帳帳號無法轉帳或是出現問題帳號？</h4>
<p>
  轉帳不過去可能碰到原因：<br />
  (1) 正逢銀行結匯業務繁忙時間<br />
  (2) 持卡行未與轉帳行連線<br />
  (3) 繳款期限逾期<br />
  (4) 帳號輸入錯誤<br />
  (5) 金額輸入錯誤<br />
  (6) 郵局系統較舊型無提供網路16碼帳號<br />
  (7) 金融卡本身未提供轉帳或是非約定跨行轉帳功能，請洽詢發卡行辦理<br />
  *
  若為1-2項此時建議更換時段轉帳或是換一家銀行提款機轉帳，並請檢查帳號和金額。<br />
  *
  如為第3項，未繳款逾期訂單和帳號將失效，請重新訂購已取得新帳號和新的繳款期限！<br />
</p>
