<h3>各取票方式說明 (各節目開放取票方式不同，請以各節目購票須知為準)</h3>

<h4>1. 國內郵寄取票</h4>

<p>
  ●訂票日期：限訂購距演出日前5日以上之節目，僅限國內掛號郵寄。<br />
  ●系統服務費：每筆NT50元。(108/4/1起系統服務費調整為每筆80元)每筆訂單皆需收取，請務必確認您所要購買的節目皆選購完畢後，再執行結帳，以免重複支付系統服務費。<br />
  ●張數限制：依各活動不同，請見各節目購票須知。 <br />
  ●寄送時間：訂購成功後票券將於5-10個上班日內寄送至您的指定地址。【訂單寄送後您的會員訂單查詢即可查看到郵局掛號號碼，可自行追蹤送件進度】<10日後若未收到票券，請務必來電07-7809900或寫信至客服信箱khamtw@gmail.com查詢><br />
  ●注意事項：<br />
  (1)請確實核對收件人 /
  收件地址資料，如收發處為公司行號或大樓管理處，請務必確認收發單位能確保將您的信件轉達給您本人，若因該收發處人為疏失導致票券遺失或因個人疏失資料填寫錯誤，恕無法提任何補救措施！若信件退件將不另行寄送，將自動轉為現場取票。<br />
  (2)若需郵寄不同地點，請分次訂票結帳，並分別填入您要寄送的地址。<系統將各別收取系統服務費NT50元>
</p>

<h4>2. 超商取票-萊爾富取票流程、OK超商取票流程 ※以上2家合作超商皆可領取</h4>

<p>
  ●取票時間：完成付款成立訂單的第4天開始至演出當日皆可領取(例：4/1訂購，4/4起可取票)，
  可至任一間「萊爾富Life-ET」或「OK超商OK-go」門市機台取票。<br />
  (例外情況：訂購日期於演出前3日內至演出當日(演出日-3=訂購日)網路訂票者，皆為演出當日方可至超商取票，敬請留意。)
  <br />
  ●取票地點：請至「萊爾富Life-ET」或「OK超商OK-go」機台選擇寬宏購取票。輸入「身分證字號(網路會員登入帳號)」與「取票號碼(共11碼，請將訂單編號15碼的前4碼拿掉即可)」取得「取票憑證」後，並於10分鐘之內至櫃檯領取票券。
  『取票小技巧：帳號為隱藏碼，輸入完畢可點選帳號欄右方"眼睛"圖案確認輸入號碼是否正確』<br />
  ●系統服務費：每筆NT50元，請於超商櫃檯取票時支付。(每筆訂單皆需收取，請務必確認您所要購買的節目皆選購完畢後，再執行結帳，以免重複支付系統服務費)
  <br />
  ●張數限制：依各活動不同，請見各節目購票須知，選擇超商取票者每筆訂單最多4張。<br />
  ●逾期未前往取票者視同售出若不符合退票期限內規定辦理退票，恕不接受退換票或其他補救措施要求。
</p>

<h4>3. 現場取票(當天演出場次現場領票櫃檯取票)</h4>

<p>
  現場取票服務提供時間：限訂購距演出前3~5日內之節目。(備註：現場取票收單期限/本公司仍保有因現實狀況而隨時調整收單與否權利。)<br />
  ●
  系統服務費：NT50元(108/4/1起系統服務費調整為每筆80元)，每筆訂單皆需收取，請務必確認您所要購買的節目皆選購完畢後，再執行結帳，以免重複支付系統服務費。<br />
  ● 訂購張數限制：每人/筆
  訂單限購8張。(如有調整依節目內公告為主，網路訂購一旦成功後，即視為售出，恕不接受退換票要求)<br />
  ●
  取票時間/方式：開演前60分鐘開放領取，取票人請攜帶(1)購票人身分證件正本(2)信用卡正本(3)訂單編號，至現場售票處取票。逾時逾期未取票者仍視同售出且已不符合退票期限內規定辦理，恕不接受任何理由之退換票要求，敬請注意!）<br />
  ●
  取票需知：部分時候節目開演前的取票人數眾多，建議取票人至少提前1小時至現場取票，以免耽誤入場時間。
  若現場因取票流量過大導致任何狀況，將自行承擔延後領票風險。
  若在節目演出後仍未領取票券，導致權益受損，將無法據此主張退費。(注意：遲到入場須遵守館方進場規則)<br />
  ●請親友現場代領票券，購票人需將身分證正本及訂單編號交給代領人，並請代領人攜帶購票人身份證以供查驗即可。
</p>

<h4>4. 電子票券取票 ( 需下載「寬宏售票系統手機APP」)</h4>

<p>
  寬宏售票系統 提供 iOS 及 Android 系統行動用戶專屬 App
  ，進行行動購票及取票使用。
</p>

<p>
  ●APP 下載方式：請進入 App Store(iOS) 或 Google play(Android)
  商店，輸入「寬宏售票系統」搜尋下載。<br />
  ●如何確認收到票券：手機用戶可於訂單完成後，往手機App
  中「我的票券」項目→『已取電子票券』選項內確認票券。<br />
  ●入場/使用
  需知：前往觀賞活動前，請保持(1)行動網路有效連線(2)手機電量足夠(3)「寬宏售票系統」手機
  APP 正常運作，入場時得以出示該活動之電子票券
  QRcode，由現場工作人員驗證無誤後即可入場，請事先確認手機狀態以免影響您的入場權益。<br />（請注意：入場驗證僅接受原版電子票券
  QR code，照片截圖或列印等方式皆不受理）<br />
  ●系統服務費：使用手機 App 取票，目前不收取系統服務費。<br />
  ●退票方式：電子票券相關退票辦法，請參考網站中「購取票方式」項目→「退票方式」選項內確認。<br />
  ●逾期未取票者視同售出若不符合退票期限內規定辦理退票，恕不接受退換票或其他補救措施要求。
</p>
