<table cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="4" class="img md-hide">
      <img src="assets/forgetPassword-image.svg" alt="" />
    </td>
    <td>
      <label class="f1"
        ><span class="mi">person</span><input type="text" placeholder="帳號"
      /></label>
    </td>
  </tr>
  <tr>
    <td>
      <div class="flex code">
        <img [src]="imgDataURL" alt="" (click)="reload()" />
        <label class="f1"
          ><span class="mi">verified_user</span
          ><input type="text" placeholder="驗證碼"
        /></label>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <div class="flex submit">
        <button class="cancel">取消</button>
        <button>確認送出</button>
      </div>
    </td>
  </tr>
</table>
