<h3>商品類退換貨問題</h3>

<h4>行政院消費者保護會公告通訊交易解除權合理例外情事適用準則</h4>

<p>
  1.
  易於腐敗（例如：現做餐盒或蔬果等），保存期限較短或解約時即將逾期（例如：蛋糕或鮮奶等）之商品，因其本身容易快速變質腐壞，保存期限少於七日，或雖較七日稍長，惟解約時即將逾期，均不適宜退還後再出售。<br />

  2.
  依消費者要求所為之客製化給付，例如依消費者提供相片印製之商品、依消費者指示刻製之印章或依消費者身材特別縫製之服裝等；消費者依現有顏色或規格中加以指定或選擇者，非屬本款所稱之客製化給付。<br />

  3. 報紙、期刊或雜誌。此類出版品因具有時效性，時間經過後不易出售。<br />

  4.
  經消費者拆封之影音商品或電腦軟體。以有形媒介提供之影音商品或電腦軟體經拆封後，處於可複製之狀態，性質上不易返還。<br />

  5.
  非以有形媒介提供之數位內容（例如：電子書等）或一經提供即為完成之線上服務（例如：線上掃毒、轉帳或匯兌等），此種類型契約如係經消費者事先同意而開始提供，因其完成下載或服務經即時提供後即已履行完畢，性質上不易返還，故規定為合理例外情事。<br />

  6.
  已拆封之個人衛生用品。因衛生考量而密封之商品（例如：內衣、內褲或刮鬍刀等），商品如拆封檢查試穿（用）後再次出售，有影響衛生之虞。<br />

  7.
  國際航空客運服務。國際航空客運服務為全球化產業，涉及聯營、共同班號等國際同業間之合作關係。<br />

  8.
  藝文展覽票券、藝文表演票券等主管機關已公告定型化契約應記載及不得記載事項之相關商品。
</p>

<p>
  非屬上列品項之商品，將有7天的猶豫期，若要辦理退換貨，請務必在收到商品後的7日內，退換貨處理方式。再次提醒您，7天猶豫期並非試用期，若您收到商品後有任何不滿意之處，請勿拆封，並立即依照本系統退換貨之規定辦理退貨事宜。
</p>

<h4>退換貨注意事項：</h4>

1.
當您要退換貨時，必須恢復商品至原始全新狀態，並且保持包裝的完整性（包括但不限於商品本體、相關配件與贈品、原廠保證書及任何與本訂購有關的文件或資料之完整性），不得有任何遺漏或缺損。<br />
2. 若您購買的是套裝組合，請您將整套商品一起寄回退換貨，束不接受單品退換貨。<br />
3.
請您使用本公司寄送商品給您所使用之包裝紙箱將欲退換之商品包裝妥當，若未保留原紙箱，請另使用其他紙箱包覆於商品原廠包裝之外，切勿於原廠包裝上直接書寫文字或黏貼任何資訊，若造成原廠包裝損毀，將無法辦理退換。<br />
4.
請您於收到商品次日起七日內將商品寄達本公司，本公司於收到商品且確認無誤後，依照原付款方式不同而有不同退費方式，逾期束不接受退換貨。

<h4>退款方式:</h4>
<p>
  (現金或轉帳付款)<br />
  本售票系統將匯款至退貨信函中之指定帳戶。(退貨匯票款日期：次月10日，遇例假日則遞延後一工作日)
</p>

<p>
  (信用卡付款)<br />
  本售票系統將刷退至原刷卡購物之信用卡帳戶，恕無法以現金退還。(另因各發卡銀行之作業流程不同，請於本公司完成退刷後約10至14個工作天後，再聯繫發卡銀行查詢進度)
</p>
