<h3>電子發票說明</h3>

<h4>1. 何謂電子發票?</h4>

<p>
  本售票系統依財政部「電子發票實施作業要點」之規定向主管稽徵機關申請使用電子方式接收、開立及傳輸統一發票，本售票系統並透過財政部核准之「獨立第三者電子發票加值服務中心」盟立自動化股份有限公司（以下簡稱盟立）協助辦理電子發票相關作業。消費者有三種處理發票之方式：
</p>
<p>
  (1)捐贈發票：當您選擇捐贈發票後，該筆消費發票之中獎權利即屬於受贈團體，領獎日後獎金會自動匯入受贈團體指定帳戶，您無法主張任何中獎權利，對獎前如受贈團體解散或愛心碼遭註銷，該筆發票之中獎獎金將歸國庫所有。<br />
  (2)
  紙本發票：當您選擇選擇列印紙本時，本售票系統以郵寄方式於訂票之次日起10個工作日內寄出紙本發票給您。<br />
  (3)
  電子發票：當您選擇以電子發票後，發票資料將儲存於盟立，盟立於每個奇數月(即1、3、5、7、9、11)26日，依財政部公告之統一發票中獎號碼進行電腦對獎(已索取紙本/已作廢之發票除外)，若您的發票中獎，本售票系統將於每奇數月底e-mail通知，另於次月10日前寄送中獎紙本發票給您。
</p>

<h4>2. 發票金額</h4>
<p>
  依據統一發票使用辦法第四條規定，娛樂業之門票收入得免用或免開統一發票，故本售票系統僅就「系統服務費」金額開立發票，且一筆訂單僅得開立一張發票。門票部分可另開立「購票證明」，若有需要「購票證明」請訂購完票券後立即聯繫本售票系統07-7809900。或詳見本售票系統「常見問題」項下之「購票」第9點。
</p>

<h4>3. 紙本發票寄送地址</h4>
<p>
  當您選擇紙本發票或電子發票中獎時，實體發票之寄送或Email通知信將以您訂票時於本售票系統會員專區所記載之地址及Email為準，請您於訂票前先確認您的地址與Email是否正確。
</p>

<h4>4. 電子發票優點</h4>
<p>
  (1) 環保：僅須就中獎之電子發票列印紙本，可減少紙張使用，促進環境保護。<br />
  (2)
  避免遺失：電子發票資料儲存於盟立，不必擔心遺失，如有中獎本售票系統將以掛號方式寄送中獎紙本發票給您。
</p>

<h4>5. 填寫統一編號之三聯式發票</h4>
<p>若您的發票需要填寫公司統一編號，請您選擇紙本發票。</p>

<h4>6. 發票變更僅提供以下情況之變更，且需於次月5日前完成，逾期恕無法辦理。</h4>
<p>
  選擇會員載具之電子發票需列印出紙本：請訂票人於次月5日前使用登記於本售票系統會員專區所載之EMAIL帳號寄發變更通知至本售票系統客服信箱(khamtw@gmail.com)，內容需包含訂單編號、發票號碼，本售票系統將協助列印紙本發票予訂票人。<br />
  以上發票變更之注意事項：a. 郵寄地址將以訂票當時所紀錄之地址為準。 b.
  訂票人需寄送掛號回郵信封予本售票系統。
</p>

<h4>7. 其他注意事項</h4>
<p>
  (1) 當您選擇捐贈發票後，本售票系統將不受理任何修改或變更。<br />
  (2) 選擇紙本發票後，將無法變更為電子發票。<br />
  (3)
  注意：申請退票時已選擇三聯式發票，發票開立後即無法更改為二聯式發票，如選擇二聯式發票也無法變更為三聯式發票，請於申請退票時確認應取得二聯或三聯發票，本售票系統已盡告知義務，且為配合國稅局勸止發票種類由二聯換開三聯之政策，恕本售票系統無法提供換開發票之服務。<br />
  (4)
  依財政部規定，必須使用發票正本方可兌換中獎獎金，當您選擇紙本發票或已寄送實體中獎發票給您後，請妥善保管發票正本，若有遺失，雖可要求補印發票，但補印之發票或列印發票電子檔皆無法兌獎。<br />
  (5)自108/05/23起凡使用退票申請書退票者表示同時授權本售票系統代為處理「銷貨退回、進貨退出或折讓證明單」。<br />
  (6)電子發票資訊，相關網站請參考（財政部電子發票整合服務平台https://www.einvoice.nat.gov.tw/）
</p>
