@import "../../../../../theme.scss";
p,
table {
  font-size: 0.8rem;
  line-height: 1.2rem;
  span {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.title {
  color: $second;
}

.card {
  margin-top: 0.5rem;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 $darker;
  h4 {
    line-height: 2rem;
  }
}

.overflow {
  width: calc(100% + 2rem);
  margin: 1rem -1rem;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;
    display: none !important;
  }
}

table {
  width: 100%;
  min-width: 480px;
  border-bottom: 1px solid $second;
  line-height: 1.5rem;
}

tr {
  &:not(:last-child) {
    td {
      border-bottom: 1px solid $lightGrey;
    }
  }
}

th {
  padding: 5px;
  color: #fff;
  background: $second;
}

td {
  padding: 5px;
  text-align: center;
  &:first-child {
    padding-left: 1rem;
    text-align: left;
  }
  &:last-child {
    width: 2rem;
  }
  .mi {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $red;
    font-size: 1.5rem;
  }
}

.red {
  color: $red;
}

.more {
  user-select: none;
  border-bottom: 1px solid $grey;
  margin: 1rem -1rem;
  position: relative;
  &::after {
    font-size: 1rem;
    content: "keyboard_arrow_down";
    font-family: "Material Icons";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $main;
    color: #fff;
    border-radius: 50%;
    line-height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &.active {
    &::after {
      content: "keyboard_arrow_up";
    }
  }
}

.tag {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  background: $main;
  line-height: 1.2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  margin: 5px;
  &.disabled {
    pointer-events: none;
    color: $grey;
    background: $lightGrey;
  }
}

.discount {
  white-space: nowrap;
  margin-left: 1rem;
  margin-bottom: 1rem;
  > * {
    font-size: 0.8rem;
    text-align: center;
    margin-right: 0.5rem;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 0 0.5rem;
    max-width: 8rem;
  }
  span {
    font-size: 1.5rem;
    border: none;
    margin-left: -0.8rem;
    color: $red;
    &.green {
      color: $green;
    }
  }
}
