<div class="icon"><i class="ai-question"></i></div>
<div class="box mini">
  <h1>忘記密碼</h1>
  <div class="word">
    請輸入登入帳號(帳號為EMAIL/Mobile
    Phone」),若比對您輸入的資料和您的會員資料相符,系統則會自動將重設密碼信函寄至您註冊時的預設電子信箱:
  </div>
  <label
    ><span class="mi">person</span><input type="text" placeholder="帳號"
  /></label>
  <div class="securiry">
    <div class="code"><img [src]="imgDataURL" alt="" (click)="reload()" /></div>
    <label class="f1"
      ><span class="mi">cached</span><input type="text" placeholder="驗證碼"
    /></label>
  </div>
  <div class="buttons">
    <button class="f1 cancel" (click)="cancel.emit()">取消</button>
    <button class="f1">送出</button>
  </div>
</div>

<p [routerLink]="['account', 'joinMember']" (click)="close.emit()">
  沒有帳戶嗎？請先按此註冊
</p>
