<h3>信用卡3D認證說明</h3>

<h4>刷卡購票信用卡3D驗證</h4>
<p>
  信用卡3D 驗證是國際發卡組織 Visa、MasterCard、JCB
  所推出的網路安全認證服務，利用先進的加密技術防止未獲授權人士取得持卡人的機密資料，避免相關個人資料遭他人截取，有效降低消費者的信用卡遭盜刷風險，以確保網路交易安全。當您進行網路付款時需再輸入預設3D驗證密碼或OTP驗證碼，才能完成交易，給您多一層安全及保障。在您輸入信用卡資訊（卡號、到期日、安全碼）後，將即進入
  3D
  驗證畫面，此時您可選擇輸入【於銀行預先設定的3D驗證碼】或是接收【動態OTP驗證碼簡訊】，待發卡銀行確認資訊及驗證碼無誤，就會回傳授權成功。
</p>

<h4>1.使用「3D驗證密碼」流程為何？</h4>
<p>
  1.當您輸入您的信用卡卡號後，本售票系統會先與您的發卡單位聯繫，確認您的卡片有無「3D驗證」功能。<br />
  2.若有「3D驗證」功能，則您的發卡單位會在您的電腦螢幕上，開啟相關的服務的視窗，不同信用卡出現畫面可能略有不同。請確認視窗內您的「個人驗證訊息及交易金額」正確後，再輸入您的3D認證密碼，您的發卡單位會確認您的密碼後回傳訊息通知本網是否驗證成功。<br />
  3.通過驗證後本售票系統才能取得發卡單位授權，方可完成訂單服務。
</p>

<h4>2.使用「動態認證」(簡訊OTP密碼)流程為何?</h4>
<p>
  信用卡單位提供所謂「動態認證」驗證(即OTP密碼)
  ，消費者無需事先在銀行端註冊設定密碼，每次消費再透過手機簡訊取得認證碼即可。
</p>
<p>
  1.請確定您的手機號碼及消費資訊是否正確，再按下「取得簡訊傳送交易密碼」。<br />
  2.發卡單位會發送含(OTP密碼)的簡訊至您的手機，請確認識別碼正確後，填入您的OTP密碼即可完成驗證。<br />
  3.通過驗證後本售票系統才能取得發卡單位授權，方可完成訂單服務。
</p>

<h4>3.使用未加入「信用卡3D驗證」的信用卡</h4>
<p>
  目前台灣銀行信用卡大都預設開啟3D驗證並支援簡訊OTP密碼。如消費者致電發卡行自行關閉信用卡3D驗證，則無法完成交易。
</p>

<h4>4.如果沒有註冊 3D 密碼，是否就不能在寬宏售票系統交易？</h4>
<p>
  還是可以消費的。即使您沒有於銀行預先設定 3D
  密碼，如您發卡銀行有提供OTP動態密碼服務，您還是可以使用信用卡付款。
</p>

<h4>5.如何得知卡片是否有提供 3D 密碼驗證服務？或是忘記卡片的 3D 密碼？</h4>
<p>請洽您的信用卡發卡行，撥打信用卡背面的客服電話詢問。</p>

<h4>6.為什麼會刷卡失敗？</h4>

<p>
  1.
  您的發卡銀行因系統忙碌或是網路資料擁塞，導致刷卡等待時間過長，造成本系統等不到發卡行回應認證扣款成功而確認交易失敗。<br />
  2.
  您所輸入的卡片相關資料錯誤，例如:卡號不正確、尚未開卡、有效期限輸入不正確或卡片已過期等問題，請於信用卡輸入資料頁重新輸入並結帳。<br />
  3. 信用卡額度已滿，這必須請您跟發卡銀行連絡，是否可以增加額度。<br />
  4. 剛繳交完卡費，但銀行尚未入帳，銀行尚未將額度重新釋出。<br />
  5. 有可能是您的發卡行3D驗證系統不穩定，建議可使用其他發卡行信用卡進行交易。
</p>

<p>
  提醒您，若您未付款完成且系統未顯示已訂購完成時，訂單或交易仍未成立。若您的卡片持續發生無法刷卡的情形，建議您更換其他信用卡並重新購票，或改用其他購買方式。您也可以聯繫您的發卡銀行詢問您卡片的相關問題。
</p>

<h4>7.其他問題</h4>
<p>
  針對已進行3D驗證的銀行，如果使用者剛開始並未進行3D驗證設定，銀行端會跳出視窗提醒使用者進行設定，或許使用者把視窗關掉不註冊，可能還是可以進行繳款。但也有的銀行會強烈要求一定要註冊，如果不註冊3D驗證碼可能也會導致您付款失敗。這些屬於銀行端的問題，建議直接撥打信用卡背面銀行客服電話詢問。
</p>

<h4>8.已加入「信用卡3D驗證」的銀行有哪些？</h4>
<p>請洽各發卡銀行洽詢該銀行信用卡是否有加入。</p>
