@import "../../../../theme.scss";

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5vmax;
}

h1 {
  font-weight: normal;
  margin: 3vmax 5px -5px 0;
}

span {
  font-size: 0.6rem;
  color: $grey;
  border-bottom: 1px solid $lightGrey;
}

.more {
  cursor: pointer;
}
