<app-selector [optionals]="optionals"></app-selector>
<div class="table">
  <table cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <th style="background:#F2F2F2">捐款方案</th>
        <th style="background:#F2F2F2">數量</th>
        <th style="background:#F2F2F2">單價</th>
        <th style="background:#F2F2F2">小計</th>
      </tr>

      <tr>
        <td>純捐款</td>
        <td align="center">1</td>
        <td align="center">1000</td>
        <td align="center">1000</td>
      </tr>

      <tr>
        <td colspan="3" align="right">總計金額：</td>
        <td align="center" style="color:#e70203; font-weight:bold;">1000</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="btns" *ngIf="!token.isLogin">
  <button (click)="lightBox.showBlur = true; lightBox.showLogIn = true">
    會員
  </button>
  <button (click)="showForm = true">非會員</button>
</div>

<dona-form *ngIf="showForm || token.isLogin"></dona-form>
<div class="btns" *ngIf="showForm || token.isLogin">
  <button>表單確認</button>
</div>
